<form (ngSubmit)="loginUser()" #loginform="ngForm">
    <div class="form-group">
    </div>
    <div class="form-group">
        <h1 id="h1-signin">Sign in</h1>
    </div>
    <div class="form-group">
        <span id="span-signin">Hello, log in to your account!</span>
    </div>
    <div class="form-group">
        <input id="input-signin" type="text" placeholder="Username" name="username" [(ngModel)]="user.username" />

    </div>
    <div class="form-group">
        <input id="input-signin" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" />
    </div>
    <div class="form-group mt-4">
        <a href="" id="btn-signin"><strong>Sign in <fa-icon [icon]="faArrowRight" id="icn-freccia"></fa-icon></strong></a>
    </div>
    <small class="text-danger">{{errorMessage}}</small>
</form>