<!--<div class="col-6" id="col-sinistra">
    <form (ngSubmit)="loginUser()" #loginform="ngForm">
        <h1 id="h1-left">Sign in</h1>
        <span id="span-left">Welcome back in Erre Technology WareHouse!</span>
        <input id="input-left" type="text" placeholder="Username" name="username"
            [(ngModel)]="user.username" />
        <input id="input-left" type="password" placeholder="Password" name="password"
            [(ngModel)]="user.password" />
        <button id="button-left" type="submit">Sign In</button>
        <small class="text-danger">{{msg}}</small>
    </form>
</div>-->