<div class="container">
  <table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>

      <th *ngFor='let column of listKeys'>{{column}}</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let row of listValues'>

      <td *ngFor='let field of row'>{{field}}</td>
      <td><button class="btn btn-success">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button></td>
        <td><button class="btn btn-danger">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button></td>
    </tr>


  </tbody>
</table>
</div>
