<!--<a href="javascript:void(0)" id="close-btn" onclick="closeNav()">CHIUDI
    <fa-icon [icon]="faTimes"></fa-icon>
</a>-->
<form>
    <div class="row">
        <div class="col">
            <h1 id="h1-signup">Sign up</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span id="span-signup">Hi,Are you new here? </span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <span id="span-signup">Create an account now!</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <input id="input-signup-username" type="text" placeholder="Username" />
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <input id="input-signup-password" type="password" placeholder="Password" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" id="btn-signup"><strong>Sign up</strong></button>
        </div>
    </div>
</form>