<!--<a href="javascript:void(0)" id="close-btn" onclick="closeNav()">CHIUDI
    <fa-icon [icon]="faTimes"></fa-icon>
</a>
<div class="col-6" id="col-destra">
    <form (ngSubmit)="loginUser()" #loginform="ngForm">
        <h1 id="h1-right">Sign Up</h1>
        <span id="span-right">Are you new here? Use your username and password for registration:</span>
        <input id="input-right" type="text" placeholder="Username" name="username"
            [(ngModel)]="user.username" />
        <input id="input-right" type="password" placeholder="Password" name="password"
            [(ngModel)]="user.password" />
        <input id="input-right" type="password" placeholder="Confirm password" name="password"
            [(ngModel)]="user.password" />
        <button id="button-right" type="submit">Sign Up</button>
    </form>
</div>-->