@font-face {
    font-family: Poppins;
    src: url("./../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html {
    height: 100%;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#col-choosed {
    padding: 100px 0;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #72bbce, #8dc8d8, #a7d5e1);
}
#btn-signup {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s;
}
#btn-signup:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}
#input-signup {
    padding: 10px 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
}
::placeholder {
    color: white;
    opacity: 1;
}
#h1-signup {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 95px;
}
#span-signup {
    color: white;
    letter-spacing: 4px;
}
#icn-freccia {
    margin-left: 5px;
}
#logo-login-signup{
    height: 100px;
    width: 300px;
    margin-bottom: 10px;
}
