<div class="container">
	<h2> Cpu Details</h2>

	<form>
		<input type="checkbox" id="location" name="location" value="tutto" [(ngModel)]="isChecked" (change)="setList()">
		<label for="tutto">Mostra Tutti gli articoli</label><br>
	  </form> 

	<table class="table table-dark table-hover">
		<thead class="thead-dark">
			<tr> <button class="btn btn-primary" (click) = "onAddArticleButton()" data-toggle="modal" data-target="#saveOrUpdateModal">
				add article
			</button></tr>
			<tr>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
				<th>core</th>
				<th>threads</th>
				<th>baseClock</th>
				<th>maxBoostClock</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cpu of showList">
				<td class="hidden"></td>
				<td>{{cpu.identifier}}</td>
				<td>{{cpu.users}}</td>
				<td>{{cpu.brand}}</td>
				<td>{{cpu.model}}</td>
				<td>{{cpu.serialNumber}}</td>
				<td>{{cpu.location}}</td>
				<td>{{cpu.userNumber}}</td>
				<td>{{cpu.core}}</td>
				<td>{{cpu.threads}}</td>
				<td>{{cpu.baseClock}}</td>
				<td>{{cpu.maxBoostClock}}</td>	
				<td><button class="btn btn-success" (click) = "onUpdateButton(cpu)" data-toggle="modal" data-target="#saveOrUpdateModal">
				</button></td>
				<td><button (click) = "deleteProduct(cpu)" class="btn btn-danger">
				</button></td>	
			  </tr>
		</tbody>
	</table>
</div>

 <!-- Modal -->
 <div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Modal Header</h4>
		</div>
		<div class="container">
		  <div class="row">
			  <div class="col-auto">
				  <form (ngSubmit)="saveOrUpdate()" id="formCpu">
	  
					  <div class="form-group" id="cpuGroup">
						  <label>Users:</label>
						  <input [(ngModel)]="entity.users" class="form-control"  name="users">
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>Brand:</label>
						  <input [(ngModel)]="entity.brand" class="form-control" name="brand" >
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>Model:</label>
						  <input [(ngModel)]="entity.model" class="form-control" name="model" >
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>Serial Number:</label>
						  <input [(ngModel)]="entity.serialNumber" class="form-control" name="serialNumber" >
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>Location:</label>
						  <input [(ngModel)]="entity.location" class="form-control" name="location">
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>User Number:</label>
						  <input [(ngModel)]="entity.userNumber" class="form-control" name="userNumber">
					  </div>
					  <div class="form-group" id="cpuGroup">
						  <label>Core:</label>
						  <input [(ngModel)]="entity.core" class="form-control" name="core">
						  </div>
						  <div class="form-group" id="cpuGroup">
							<label>Threads:</label>
							<input [(ngModel)]="entity.threads" class="form-control" name="threads">
							</div>
							<div class="form-group" id="cpuGroup">
								<label>Base Clock:</label>
								<input [(ngModel)]="entity.baseClock" class="form-control" name="baseClock">
								</div>
								<div class="form-group" id="cpuGroup">
									<label>Max Boost Clock:</label>
									<input [(ngModel)]="entity.maxBoostClock" class="form-control" name="maxBoostClock">
									</div>
					  <button class="btn btn-primary">Save/Update Cable</button>
				  </form>
			  </div>
		  </div>
	  </div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	  </div>
	  
	</div>
  </div>