<img src="../../../../../assets/img/AmministrazioneErreTechnologyGroup_1P.png" alt="Workplace" usemap="#workmap" >

<map name="workmap">

    <area alt="" title="1" href="/Workstation" coords="58,31 87,31 87,101 18,101 18,79 35,80 25,71 39,58 58,68 " shape="polygon" (click)="setWorkstationInSession('amministrazione', 1)">
    <area alt="" title="2" href="/Workstation" coords="118,31 119,101 188,101 187,80 170,79 180,70 169,58 158,65 158,31 " shape="polygon" (click)="setWorkstationInSession('amministrazione', 2)">
    <area alt="" title="3" href="/Workstation" coords="188,79 119,79 110,63 126,62 126,79 161,79 161,101 188,101 " shape="polygon" (click)="setWorkstationInSession('amministrazione', 3)">


</map>