<div class="container-fluid">

  <nav id="sidebar">
    <div class="col">
      <div class="custom-menu">
        <!-- bottone menu-->
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div id="contenutoSidebar">
        <h1><a href="index.html" class="menu">Menu</a></h1>

        <ul class="list-unstyled" id="listaMenu">

          <li>
            <a href="#">Inserisci un nuovo articolo</a>
          </li>
          <li>
            <a href="#">Cancella un articolo</a>
          </li>
          <li>
            <a href="#">Visualizza intero magazzino</a>
          </li>

        </ul>
        <div class="footer">
        </div>

      </div>
    </div>
  </nav>
</div>