@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html,
#container-login {
    height: 100%;
}
#col-sign-in {
    background-color: #313131;
    border-radius: 20px 0 0 20px;
}
#col-sign-up{
    background-color: #313131;
    border-radius: 0px 20px 20px 0px;
}
#header-login {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
}
#logo-login {
    height: 95px;
}

#btn-choose-signin {
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
#btn-choose-signin:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}
#btn-choose-signup {
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
#btn-choose-signup:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}
