<div>
    <h3>ADD POWER SUPPLIE</h3>
    <form (ngSubmit)="sendPowersupplieToParent()" id="formPowerSupplie">

        <div class="form-control mb-2" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-control mb-2" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.brand" name="brand" class="form-control" placeholder="Brand:">
        </div>
        <div class="form-control mb-2" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-control mb-2" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.serialNumber" name="serialNumber" class="form-control"
                placeholder="powerSupplie number:">
        </div>
        <div class="form-control mb-2" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-control mb-4" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.watts" name="watts" class="form-control" placeholder="Watts:">
        </div>
        <div class="form-control mb-4" id="powerSupplieGroup">
            <input [(ngModel)]="powerSupplieTemp.energyRating" name="energyRating" class="form-control"
                placeholder="Energy Rating:">
        </div>
        <div class="float-right">
            <button class="btn mr-2 float-left">Save/Update Power Supplie</button>
            <button class="btn float-left" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>