<div class="container">
	<div class="row">
		<div class="col-auto">
			<form (ngSubmit)="onsubmit()" id="formCPU">

				<div class="form-group" id="CPUgroup">
					<label>Name:</label>
					<input [(ngModel)]="cpu.model" class="form-control"  name="name">
				</div>
				<div class="form-group" id="CPUgroup">
					<label>Core:</label>
					<input [(ngModel)]="cpu.core" class="form-control" name="core" >
				</div>
				<div class="form-group" id="CPUgroup">
					<label>Threads:</label>
					<input [(ngModel)]="cpu.threads" class="form-control" name="threads" >
				</div>
				<div class="form-group" id="CPUgroup">
					<label>Base-clock:</label>
					<input [(ngModel)]="cpu.baseClock" class="form-control" name="baseClock" >
				</div>
				<div class="form-group" id="CPUgroup">
					<label>Max boost-clock:</label>
					<input [(ngModel)]="cpu.maxBoostClock" class="form-control" name="maxBoostClock">
				</div>
				<button class="btn btn-primary">Invia Richiesta</button>
			</form>
		</div>
	</div>
</div>