@font-face {
    font-family: Poppins;
    src: url("../../../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
html,
body,
header {
    height: 100%;
}
#container {
    background-image: url("../../../workstation-welcome/img/white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}