<app-workstation-header [title]="title"></app-workstation-header>
<main class="main">
    <div class="container-fluid">
        <div class="row d-flex flex-column" id="first_floor">
            <div class="col text-center mt-5 align-self-center">
                <span>{{title}}</span>
                <p>Click on a workstation to visualize the details of it.</p>
            </div>
            <div class="col mt-3 text-center align-self-center">
                <img src="../../../../../assets/img/Ufficio_1_1P.png" usemap="#workmap">
                <app-map [coords]="coords" [workstationInSession]="workstationInSession"></app-map>
            </div>
        </div>
    </div>
</main>