<header>
    <div *ngIf="historicList?.length; else emptyList" class="container justify-content-center">
        <div class="row h-100 justify-content-center">
            <div class="col align-self-center text-center">
                <h1 id="title">Deleted History</h1>
            </div>
        </div>

        <div class="col mt-5">
            <div class="row h-100 align-items-end">

                <div class="col-6 mb-2 d-flex flex-row">
                    <select [(ngModel)]="filtered" class="custom-select" name="filter">
                        <option selected disabled>Filter by:</option>
                        <option value="identifier">Identifier</option>
                    </select>
                </div>
                <div class="col-6 mb-2 pl-0 d-flex flex-row">
                    <input class="form-control" type="text" id="myInput" (keyup)="searchFunction()"
                        placeholder="Search by filter...">
                </div>
            </div>
        </div>

        <div class="row h-100">
            <div class="col">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Movement Type</th>
                            <th>Product Identifier</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let historic of historicList">
                            <td>{{historic.date}}</td>
                            <td>Elimination</td>
                            <td (click)="setDetailsProductInModal(historic.product)" data-toggle="modal"
                                data-target="#productDetailsModal" style="cursor:pointer" class="identifier">
                                {{historic.product.identifier}}
                                <span class="tooltiptext">Product Details</span></td>
                            <td><button (click)="setNoteInModal(historic.note)" class="btn btn-primary" id="btn-note"
                                    data-toggle="modal" data-target="#noteModal">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #emptyList>
        <div class="container h-100 justify-content-center">
            <div class="row h-50 ">
                <div id="emptyListMessage" class="col mt-5">Movement History</div> 
             </div>
            <div class="row h-50 ">
               <div id="emptyListMessage" class="col ">No Product deletion has been registered in the history.</div> 
            </div>
            
        </div>

    </ng-template>
</header>

<!--MODAL FOR NOTE-->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Note</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="modal-body">
                    {{selectedNote}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal details article -->
<div class="modal fade" id="productDetailsModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">PRODUCT DETAILS:</h3>
            </div>
            <table id="myTable" class="table table-striped">
                <thead>
                <tbody>
                    <tr *ngFor="let item of selectedProduct | keyvalue">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>