@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

header {
    height: 100%;
}

main {
    height: 100%;
}

h2 {
    letter-spacing: 5px;
    background-color: #74b9ff;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

span {
    margin-left: 60px;
    letter-spacing: 5px;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid black;
}

#img-piani {
    height: 700px;
}

#logo {
    height: 70px;
}

.btn-home,
.btn-floor {
    box-shadow: 1px 1px 2px black;
    letter-spacing: 3px;
}

.btn-home:hover,
.btn-floor:hover {
    background-color: whitesmoke;
}

.btn-office {
    box-shadow: 1px 1px 2px #0984e3;
    letter-spacing: 3px;
    color: black;
}


/*
#btn-back,
#btn-switch_floor {
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.5s;
    color: black;
}

#btn-back:hover,
#btn-switch_floor:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}*/