@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
html,
body {
    height: 100%;
}
header {
    height: 100%;
    background-image: url("img/workstation-welcomeCopia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
main {
    height: 100%;
    background-image: url("img/workstation-welcomeCopia1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
button {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
    letter-spacing: 3px;
    
}
button:hover {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s;
}

span {
    color: #004fff;
    font-size: 30px;
    letter-spacing: 5px;
}

#img-piani {
    border: 1px solid black;
    border-radius: 10px;
    
}
#logo {
    height: 70px;
}

#btn-back,
#btn-switch_floor {
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.5s;
    color: black;
}

#btn-back:hover,
#btn-switch_floor:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}
#hr-ground {
    margin: 10px 0px;
    padding: 0;
    width: 25%;
    border: 1px solid black;
}
#hr_first{
    margin: 10px 0px;
    padding: 0;
    width: 20%;
    border: 1px solid black;

}