@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

header {
    height: 100%;
    background-image: url("img/workstation-welcomeCopia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    height: 100%;
    background-image: url("img/workstation-welcomeCopia1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

button {
    border-bottom: 1px solid #004fff;
    border-left: 1px solid #004fff;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
    letter-spacing: 3px;
}

button:hover {
    background: white;
    color: #004fff;
    border: 1px solid #004fff;
    border-radius: 20px;
    transition: 0.5s;
}

span {
    color: #004fff;
    font-size: 30px;
    letter-spacing: 5px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 10px 5px 5px #004fff;
    border-radius: 10px;
    padding: 10px;
}

#img-piani {
    border: 1px solid black;
    border-radius: 10px;
    height: 700px;
}

#logo {
    height: 70px;
}

#btn-back,
#btn-switch_floor {
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.5s;
    color: black;
}

#btn-back:hover,
#btn-switch_floor:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}