

<header >
  <div class="container-fluid h-100" id="container">
    {{width}}
    <app-workstation-header [title]="title"></app-workstation-header>
    <div class="row" id="first_floor" >

      <div class="col mt-3 text-center" >
        <img src="../../../../../assets/img/Ufficio_tecnico_2_PT.png" alt="Workplace" usemap="#workmap" (window:resize)="onResize($event)">

        <app-map [coords]="coords"></app-map>

      </div>
    </div>
  </div>
</header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

<script src="angular-rwdImageMaps.min.js"></script>

<script type="text/javascript" charset="utf-8">
	angular.module('map', ['rwdImageMaps'])
		.controller('MapCtrl', function($scope){
      console.log("asdasd");
			$scope.myTrigger = function(arg){
        alert(arg + ' clicked');
        
			}
		});
</script>