

<header >
  <div class="container-fluid h-100" id="container">
    {{width}}
    <app-workstation-header [title]="title"></app-workstation-header>
    <div class="row" id="first_floor" >

      <div class="col mt-3 text-center" >
        <img src="../../../../../assets/img/Ufficio_tecnico_2_PT.png" alt="Workplace" usemap="#workmap" (window:resize)="onResize($event)">

        <app-map [coords]="coords" [workstationInSession]="workstationInSession"></app-map>

      </div>
    </div>
  </div>
</header>
