
<img src="../../../../../assets/img/ufficio_tecnico1_PT.png" alt="Workplace" usemap="#workmap" >

<map name="workmap">
    direzione                                                                                                   <!--cambiare argomento ufficio in dir_uff_1_gf-->
    <area alt="" title="1" href="/Workstation" coords="50,124 80,124 80,190 52,190 50,165 36,165 34,150 50,148 " shape="polygon" (click)="setWorkstationInSession('direzione', 1)">
    1 tavolo da sinistra
    <area alt="2" title="1" href="/Workstation" coords="187,121 210,120 210,106 225,107 226,122 246,121 246,151 187,151 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 1)">
    <area alt="" title="2" href="/Workstation" coords="246,120 263,119 263,105 280,104 280,120 305,120 305,150 246,150 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 2)">
    <area alt="3" title="3" href="/Workstation" coords="186,150 186,180 210,181 211,197 225,198 224,181 245,180 245,150 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 3)">
    <area alt="5" title="4" href="/Workstation" coords="245,150 305,151 305,181 280,181 280,196 264,196 264,180 246,180 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 4)">

2 tavolo da sinistra
<area alt="d" title="5" href="/Workstation" coords="369,91 398,91 397,151 370,150 368,134 353,133 352,117 368,115 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 5)">
<area alt="d" title="6" href="/Workstation" coords="427,90 399,91 398,151 427,151 429,133 444,134 444,117 429,115 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 6)">
<area alt="45" title="7" href="/Workstation" coords="368,150 399,150 399,210 369,210 368,189 352,189 351,171 368,171 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 7)">
<area alt="s" title="8" href="/Workstation" coords="427,150 399,151 399,210 428,210 429,188 444,189 444,172 428,171 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 8)">

3 tav six
<area alt="s" title="9" href="/Workstation" coords="550,150 550,121 531,120 531,105 513,104 513,120 490,120 491,150 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 9)">
<area alt="c" title="10" href="/Workstation" coords="609,150 609,120 586,120 584,103 566,103 566,119 551,120 550,150 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 10)">
<area alt="s" title="11" href="/Workstation" coords="491,180 492,151 550,150 550,180 530,180 528,198 513,198 511,181 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 11)">
<area alt="" title="12" href="/Workstation" coords="608,150 551,151 551,180 568,181 569,195 584,198 584,181 609,181 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 12)">

4 tav six
<area alt="" title="13" href="/Workstation" coords="672,150 672,135 654,132 653,115 670,116 671,91 700,89 701,150 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 13)">
<area alt="s" title="14" href="/Workstation" coords="730,91 702,91 702,151 730,150 731,132 747,133 748,115 732,114 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 14)">
<area alt="s" title="15" href="/Workstation" coords="671,170 671,150 701,150 701,210 673,209 671,186 656,186 654,171 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 15)">
<area alt="s" title="16" href="/Workstation" coords="730,151 701,150 702,210 730,210 732,187 748,187 747,171 732,169 " shape="polygon" (click)="setWorkstationInSession('uff_1_gf', 16)">

</map>
