<header>
    <div class="container-fluid" id="container">
        <div class="row h-100 align-items-center">
            <div class="col">
                <img src="../../assets/img/b__piano_terra.png" usemap="#piano_terra">
                <map name="piano_terra">
                    <area shape="rect" coords="149,430" href="Login">
                </map>
            </div>
        </div>
        <div class="row h-100 align-items-center">
            <div class="col">
                <img src="../../assets/img/b__primo_piano.png">
            </div>
        </div>
    </div>
</header>