@font-face {
    font-family: Poppins;
    src: url("../../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}

html,
body,
header {
    height: 100%;
}
header {
    background-image: url("../../../../assets/img/desk-alternativa-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* Parte sopra la tabella*/
#btn-add {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    transition: 0.5s;
    box-shadow: none !important;
    outline: 0;
}
#btn-add:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: 0.5s;
}
select {
    border-radius: 20px 20px 0 0;
    background-color: transparent;
    color: white;
    box-shadow: none !important;
    outline: 0;
    transition: 0.5s;
}
select:hover{
    background-color: white;
    transition: 0.5s;
    color: black;
}

input {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    background-color: transparent;
    transition: 0.5s;
    box-shadow: none !important;
    outline: 0;
}
input:focus {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.5s;
}
::placeholder {
    color: white;
}
#label-all{
    color: white;
}
/* Tabella */
table {
    background-color: white;
    border-radius: 10px 10px 0 0;
    border: none;
}
thead {
    border-radius: 20px 20px 0 0;
    border: none;
}
th {
    border: none;
}

