<div class="col-auto">
	<h2> Cable</h2>
	<div style="width:200px;">
		Filter By
		<select [(ngModel)]="filtered" class="form-control" name="users">
		  <option value="identifier">identifier</option>
		  <option value="model">model</option>
		  <option value="brand">brand</option>
		  <option value="location">location</option>
		  <option value="type">type</option>
		</select>
	  </div>

	<input type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search for names.." title="Type in a name">
	<table id="myTable" class="table table-dark table-hover">

		<thead>
			<tr>
				<td>
				<button class="btn btn-primary" (click)="onAddArticleButton()" data-toggle="modal"
					data-target="#saveOrUpdateModal">
					add article
				</button>
				</td>
			</tr>
			<tr>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
				<th>Type</th>
				<th>Modifica</th>
				<th>Elimina</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cable of listProduct">
				<td class="identifier">{{cable.identifier}}</td>
				<td>{{cable.users}}</td>
				<td class="brand">{{cable.brand}}</td>
				<td class="model">{{cable.model}}</td>
				<td>{{cable.serialNumber}}</td>
				<td class="location">{{cable.location}}</td>
				<td>{{cable.userNumber}}</td>
				<td class="type">{{cable.type}}</td>
				<td><button class="btn btn-success" (click)="onUpdateButton(cable)" data-toggle="modal"
						data-target="#saveOrUpdateModal">
					</button></td>
				<td><button (click)="deleteProduct(cable)" class="btn btn-danger">
					</button></td>
			</tr>
		</tbody>
	</table>
</div>



<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-auto">
						<form (ngSubmit)="saveOrUpdate()" id="formCable">

							<div class="form-group" id="cableGroup">
								<label>Users:</label>
								<input [(ngModel)]="entity.users" class="form-control" name="users">
							</div>
							<div class="form-group" id="cableGroup">
								<label>Brand:</label>
								<input [(ngModel)]="entity.brand" class="form-control" name="brand">
							</div>
							<div class="form-group" id="cableGroup">
								<label>Model:</label>
								<input [(ngModel)]="entity.model" class="form-control" name="model">
							</div>
							<div class="form-group" id="cableGroup">
								<label>Serial Number:</label>
								<input [(ngModel)]="entity.serialNumber" class="form-control" name="serialNumber">
							</div>
							<div class="form-group" id="cableGroup">
								<label>Location:</label>
								<input [(ngModel)]="entity.location" class="form-control" name="location">
							</div>
							<div class="form-group" id="cableGroup">
								<label>User Number:</label>
								<input [(ngModel)]="entity.userNumber" class="form-control" name="userNumber">
							</div>
							<div class="form-group" id="cableGroup">
								<label>Type:</label>
								<input [(ngModel)]="entity.type" class="form-control" name="type">
							</div>
							<button class="btn btn-primary">Save/Update Cable</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

