<header class="header">
    <nav class="navbar navbar-expand-lg navbar-home fixed-top">
        <div class="container-fluid d-flex flex-row">
            <div class="row w-100">
                <div class="col-1">
                    <a class="navbar-brand" href="WelcomeMenu"> <img class="navbar-img" src="../../assets/img/Logo Erre.png"></a>
                </div>
                <div class="col align-self-center text-left">
                    <a class="btn navbar-btn mr-1 ml-2" href="WelcomeMenu">HOME</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WorkstationWelcome">WORKSTATION</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WarehouseHomeList">WAREHOUSE</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="HistoryWelcome">HISTORIC</a>
                </div>
                <div class="col align-self-center"> <logout></logout></div>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col mt-5">
                <form>
                    <button (click)="creaBolla()" class="btn btn-crea--bolla mt-3 float-right">Scarica bolla di trasporto</button>
                    <h2 class="mb-3">Destinatario</h2>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nome e cognome:</label>
                                <input [(ngModel)]="recipient.name" type="text" name="name" class="form-control input--form">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="pIVA">P.IVA/CF:</label>
                                <input [(ngModel)]="recipient.pIva" type="text" name="pIVA" class="form-control input--form">
                            </div>
                        </div>
                    </div>
                    <h2 class="mb-3 mt-3">Indirizzo</h2>
                    <div class="form-row">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="via">Via:</label>
                                <input [(ngModel)]="address.via" type="text" name="via" class="form-control  input--form">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="comune">Comune:</label>
                                <input [(ngModel)]="address.comune" type="text" name="comune" class="form-control input--form">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label for="provincia">Provincia:</label>
                                <input [(ngModel)]="address.provincia" type="text" name="provincia" class="form-control input--form">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="cap">Cap:</label>
                                <input [(ngModel)]="address.cap" type="text" name="cap" class="form-control input--form">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cname">Causale:</label>
                        <input [(ngModel)]="bolla.cause" type="text" name="causale" class="form-control input--form">
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input [(ngModel)]="merchandise.weight" type="text" name="peso" class="form-control input--form">
                    </div>
                    <div class="form-group">
                        <label for="transport">Trasporto:</label>
                        <input [(ngModel)]="merchandise.transport" type="text" name="transport" class="form-control input--form">
                    </div>
                    <div class="form-group">
                        <label for="annotazioni">Annotazioni:</label>
                        <input [(ngModel)]="bolla.annotazioni" type="text" name="annotazioni" class="form-control input--form">
                    </div>
                    <label>Aggiungi articoli:</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn  ml-3 mt-3 mb-3" id="warehouse-dropdown" ngbDropdownToggle>Add
                            article from warehouse</button>
                        <div ngbDropdownMenu aria-labelledby="warehouse-dropdown" id="warehouse-dropdown-body">
                            <button id="btn-body" ngbDropdownItem (click)="showList('Laptop')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Laptop</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Desktop')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Desktop</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Monitor')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Monitor</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Keyboard')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Keyboard</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Cable')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Cable</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('GraphicTablet')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Graphic
                            Tablet</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Cellphone')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Cellphone</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Mouse')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Mouse</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('Token')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Token</button>
                            <button id="btn-body" ngbDropdownItem (click)="showList('DockingStation')" data-toggle="modal" data-target="#addArticleFromWarehouseModal">Docking
                            Station</button>
                        </div>
                    </div>
                    <div *ngIf="bolla.goods?.length">
                        <ul>
                            <li *ngFor="let product of bolla.goods">{{product.identifier}} {{product.brand}} {{product.model}}
                                <button type="button" class=" btn btn-cancella-articolo mb-3 ml-5" (click)="removeProduct(product)">Remove</button>
                            </li>
                        </ul>
                    </div>
                   
                </form>
            </div>
            <div class="col">
                <app-bolla [bolla]="bolla"></app-bolla>
            </div>
        </div>
    </div>
</main>



<!-- ====================================================================================================================================== -->
<!--Modal tabella articoli da magazzino -->
<div class="modal fade" id="addArticleFromWarehouseModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" id="modalArticle">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h4 class="modal-title">List {{productType}}:</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="col">
                    <div class="row">

                        <div class="col">
                            <select [(ngModel)]="filtered" class="custom-select" name="filter">
                <option selected disabled>Filter by:</option>
                <option value="identifier">Identifier</option>
                <option value="users">Users</option>
                <option value="brand">Brand</option>
                <option value="model">Model</option>
                <option value="serialNumber">Serial Number</option>
                <option value="location">Location</option>
                <option value="userNumber">User Number</option>
              </select>
                        </div>

                        <div class="col">
                            <input class="form-control" type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search by filter...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div *ngIf="showProductList?.length; else emptyList">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Indentifier</th>
                                            <th>Users</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                            <th>Serial Number</th>
                                            <th>Location</th>
                                            <th>User Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of showProductList">
                                            <td class="identifier">{{product.identifier}}</td>
                                            <td class="users">{{product.users}}</td>
                                            <td class="brand">{{product.brand}}</td>
                                            <td class="model">{{product.model}}</td>
                                            <td class="serialNumber">{{product.serialNumber}}</td>
                                            <td class="location">{{product.location}}</td>
                                            <td class="userNumber">{{product.userNumber}}</td>
                                            <td><button (click)="setDetailsProductInModal(product)" data-toggle="modal" data-target="#productDetailsModal">DETAILS</button> </td>
                                            <td><button (click)="addProductToBolla(product)">ADD</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #emptyList>
                                <div id="emptyShowListMessage">No product present for the {{productType}} category in the Warehouse.
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button data-dismiss="modal" class="btn"> Chiudi </button></div>
        </div>
    </div>
</div>

<!--Modal details article -->
<div class="modal fade" id="productDetailsModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">PRODUCT DETAILS:</h3>
            </div>
            <table id="myTable" class="table table-striped">
                <thead>
                    <tbody>
                        <tr *ngFor="let item of selectedProduct | keyvalue">
                            <td>{{item.key}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>