@font-face {
    font-family: Oswald;
    src: url("../../../assets/fonts/Poppins-Regular.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

main {
    margin-top: 100px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar-img {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-home {
    background-color: white;
}

.navbar-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    box-shadow: none;
}

.navbar-btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #004fff;
    transition: width 0.5s;
}

.navbar-btn:hover::after {
    width: 100%;
}

form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

.input--form {
    border: 1px solid white;
    background-color: white;
    outline: none;
    box-shadow: none;
}

.btn-crea--bolla,
.btn-cancella-articolo {
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    outline: none;
    box-shadow: none;
}

.btn-crea--bolla:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #004fff;
    transition: width 0.5s;
}

.btn-cancella-articolo:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #d63031;
    transition: width 0.5s;
}

.btn-crea--bolla:hover::after,
.btn-cancella-articolo:hover::after {
    width: 100%;
}

#warehouse-dropdown {
    background: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    box-shadow: none !important;
    outline: 0;
}

#warehouse-dropdown-body {
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 1px solid white;
    #btn-body:hover {
        color: #004fff;
    }
    #btn-body:focus {
        background-color: white;
        color: #004fff;
    }
}


/* Modal */

#formModal {
    background-color: transparent;
    color: white;
    border: none;
}

#formModal-body {
    background-color: black;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
}

#modalArticle {
    width: 90%;
    max-width: 1200px;
}

#modal {
    overflow-x: auto;
}