<div>
    <h3>ADD / UPDATE GPU</h3>
    <form autocomplete="off" (ngSubmit)="sendGpuToParent()" class="form-group" id="formGpu" #form="ngForm">

        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.brand" name="brand" class="form-control" placeholder="Brand:" #brand="ngModel">
            <div *ngIf="brand.invalid" class="alert alert-danger mt-2" role="alert">
                <div *ngIf="brand.errors.required">
                    Brand is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="gpuTemp.serialNumber" name="serialNumber" class="form-control" placeholder="Serial number:" #serialNumber="ngModel">
            <div *ngIf="serialNumber.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="serialNumber.errors.required">
                    Serial Number is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2 ">
            <input [(ngModel)]="gpuTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.memory" name="memory" class="form-control" placeholder="Memory:">
        </div>

        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.baseClock" name="baseClock" class="form-control" placeholder="Base Clock:">
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="gpuTemp.maxBoostClock" name="maxBoostClock" class="form-control" placeholder="Max Boost Clock:">
        </div>
        <div class="form-group mb-4">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button [disabled]="form.invalid" class="btn mr-2 btn-add" id="btnSave">Add / Update GPU</button>
            <button class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>