<header>
    <div class="container h-100">
        <div class="row h-50 align-items-end">
            <div class="col ">
                <div id="warehouse">
                    <div class="row">
                        <div class="col">
                            <div class="row h-100 d-flex flex-column">
                                <div class="col">
                                    <h2>Warehouse</h2>
                                    <h3>Visualize and manage all articles stored in Erre Technology Warehouse.</h3>
                                    <hr>
                                </div>
                                <div class="col">
                                    <button (click)="openWarehouse()" class="btn" id="btn-enter">Enter</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="img">
                                <img id="img-warehouse" src="../../../assets/img/welcome_menu_warehouse.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row h-50 align-items-center" >
            <div class="col mt-5">
                <div id="workstation">
                    <div class="row">
                        <div class="col">
                            <div class="row h-100 d-flex flex-column">
                                <div class="col">
                                    <h2>Workstation</h2>
                                    <h3>Visualize all workstations in the office and modify them.</h3>
                                    <hr>
                                </div>
                                <div class="col">
                                    <button (click)="openWorkstation()" class="btn" id="btn-enter">Enter  </button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="img">
                                <img id="img-workstation" src="../../../assets/img/welcome_menu_workstation.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</header>
<main>
    <div class="container h-100">
        <div class="row h-50">
            <div class="col mt-3">
                <div id="historic">
                    <div class="row">
                        <div class="col">
                            <div class="row h-100 d-flex flex-column">
                                <div class="col">
                                    <h2>Historic</h2>
                                    <h3>Visualize all the movements of the company.</h3>
                                    <hr>
                                </div>
                                <div class="col">
                                    <button (click)="openHistoric()" class="btn" id="btn-enter">Enter  </button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="img">
                                <img id="img-historic" src="../../../assets/img/welcome_menu_historic.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<div class="col">
    <div class="card">
        <img class="card-image-top" src="../../assets/img/user.jpg">
        <div class="card-body">
            <h4 class="card-title">· Users</h4>
            <p class="card-text">Visualize users and all their personal information.</p>

        </div>
        <div class="card-footer text-center">
            <button class="btn">Users</button>
        </div>
    </div>
</div>
-->