@font-face {
    font-family: Oswald;
    src: url("../../../assets/fonts/Oswald-Regular.ttf");
}

* {
    font-family: "Oswald", sans-serif;
}

main {
    background-image: url("../welcome/img/ufficio-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h2 {
    letter-spacing: 5px;
}

span {
    letter-spacing: 3px;
    font-size: 17px;
}

.btn-enter--warehouse,
.btn-enter--workstation,
.btn-enter--historic,
.btn-enter--ddt {
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    outline: none;
    box-shadow: none;
}

.btn-enter--warehouse:after,
.btn-enter--workstation:after,
.btn-enter--historic:after,
.btn-enter--ddt:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #004fff;
    transition: width 0.5s;
}

.btn-enter--warehouse:hover::after,
.btn-enter--workstation:hover::after,
.btn-enter--historic:hover::after,
.btn-enter--ddt:hover::after {
    width: 100%;
}

.warehouse,
.workstation,
.historic,
.ddt {
    background-color: white;
    border: 1px solid white;
    box-shadow: 2px 2px 2px whitesmoke;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
}

.img--warehouse,
.img--historic {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

.img--workstation,
.img--ddt {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}