<header id="header">
    <div class="container" id="container">
        <div class="row h-100 w-100 align-items-center">

            <div class="col" id="colonna-warehouse">
                <div class="card" id="card-warehouse">
                    <img class="card-image-top" id="warehouse-img" src="../../assets/img/warehouse.jpg">
                    <div class="card-body" id="card-body-warehouse">
                        <h4 class="card-title">· Warehouse</h4>
                        <p class="card-text">Visualize and manage all articles stored in Erre Technology Warehouse.</p>

                    </div>
                    <div class="card-footer text-center" id="card-footer-warehouse">
                        <button (click)="openWarehouse()" class="btn">Warehouse</button>
                    </div>
                </div>
            </div>

            <div class="col" id="colonna-workstation">
                <div class="card" id="card-workstation">
                    <img class="card-image-top" id="workstation-img" src="../../assets/img/workstation.jpg">
                    <div class="card-body" id="card-body-workstation">
                        <h4 class="card-title">· Workstation</h4>
                        <p class="card-text">Visualize all workstations in the office and modify them.</p>

                    </div>
                    <div class="card-footer text-center" id="card-footer-workstation">
                        <button class="btn">Workstation</button>
                    </div>
                </div>
            </div>

            <div class="col" id="colonna-users">
                <div class="card" id="card-users">
                    <img class="card-image-top" id="users-img" src="../../assets/img/user.jpg">
                    <div class="card-body" id="card-body-users">
                        <h4 class="card-title">· Users</h4>
                        <p class="card-text">Visualize users and all their personal information.</p>

                    </div>
                    <div class="card-footer text-center" id="card-footer-users">
                        <button class="btn">Users</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>