<main>
    <div class="container">
        <div class="row">
            <div class="col mt-5 ">
                <div class="warehouse">
                    <div class="row d-flex flex-column">
                        <div class="col">
                            <h2>Warehouse</h2>
                        </div>
                        <div class="col">
                            <span>Visualize and manage all articles stored in <span style="color: #00b894;">Erre Technology Warehouse</span>.</span>
                        </div>
                        <div class="col mt-3">
                            <img class="img--warehouse" src="../../../assets/img/welcome_menu_warehouse.jpg" alt="">
                        </div>
                        <div class="col mt-4">
                            <button (click)="openWarehouse()" class="btn btn-enter--warehouse">Enter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-5">
                <div class="workstation">
                    <div class="row d-flex flex-column">
                        <div class="col">
                            <h2>Workstation</h2>
                        </div>
                        <div class="col">
                            <span>Visualize all <span style="color: #00b894;">workstations</span> in the office and modify them.</span>
                        </div>
                        <div class="col mt-3">
                            <img class="img--workstation" src="../../../assets/img/laptop2.jpg" alt="">
                        </div>
                        <div class="col mt-4">
                            <button (click)="openWorkstation()" class="btn btn-enter--workstation">Enter</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <div class="historic">
                    <div class="row d-flex flex-column">
                        <div class="col">
                            <h2>Historic</h2>
                        </div>
                        <div class="col">
                            <span>Visualize all the <span style="color: #00b894;">movements</span> of the company.</span>
                        </div>
                        <div class="col mt-3">
                            <img class="img--historic" src="../../../assets/img/historic.jpg" alt="">
                        </div>
                        <div class="col mt-4">
                            <button (click)="openHistoric()" class="btn btn-enter--historic">Enter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-5 mb-5">
                <div class="ddt">
                    <div class="row d-flex flex-column">
                        <div class="col">
                            <h2>DDT</h2>
                        </div>
                        <div class="col">
                            <span>Create a new <span style="color: #00b894;">DDT</span> for the transfer of components.</span>
                        </div>
                        <div class="col mt-3">
                            <img class="img--ddt" src="../../../assets/img/ddt.jpg" alt="">
                        </div>
                        <div class="col mt-4">
                            <button (click)="openDdt()" class="btn btn-enter--ddt">Enter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>