@font-face {
    font-family: Oswald;
    src: url("../../../assets/fonts/Oswald-Regular.ttf");
}

* {
    font-family: "Oswald", sans-serif;
}

header {
    height: 100%;
    background-image: url("img/ufficio-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    height: 100%;
    background-image: url("img/ufficio-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    letter-spacing: 5px;
}

h3 {
    color: #004fff;
    letter-spacing: 3px;
}

#card {
    border: none;
}

#btn-enter {
    border-bottom: 1px solid #004fff;
    border-left: 1px solid #004fff;
    color: black;
    border-radius: 20px;
    width: 120px;
    transition: 0.6s;
    position: absolute;
    bottom: 0;
    letter-spacing: 3px;
}

#btn-enter:hover {
    border: 1px solid #004fff;
    background-color: #004fff;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: white;
    border-radius: 20px;
    transition: 0.9s;
}

#warehouse,
#workstation,
#historic {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

#img-warehouse {
    height: 300px;
    width: 550px;
    padding: 5px;
}

#img-workstation {
    height: 300px;
    width: 550px;
    padding: 5px;
}

#img-historic {
    height: 300px;
    width: 550px;
    padding: 5px;
}

#img {
    background-color: lightgrey;
    border: 1px solid lightgrey;
}