<img src="../../../../../assets/img/HReSalesErreTchnologyGroup_1P.png" usemap="#image_map">
<map name="image_map">
  <area alt="" title="1" href="" coords="34,130 102,130 102,160 78,160 78,176 61,176 61,161 34,160 " shape="polygon" (click)="setWorkstationInSession('hr-and-sales', 1)">
  <area alt="" title="2" href="" coords="189,57 219,57 219,117 190,116 190,99 174,98 173,85 189,85 " shape="polygon" (click)="setWorkstationInSession('hr-and-sales', 2)">
  <area alt="" title="3" href="" coords="219,57 249,57 249,83 266,84 267,99 249,99 248,117 219,116 " shape="polygon" (click)="setWorkstationInSession('hr-and-sales', 3)">
  <area alt="" title="4" href="" coords="189,117 219,117 219,175 189,175 189,151 175,151 174,137 189,137 " shape="polygon" (click)="setWorkstationInSession('hr-and-sales', 4)">
  <area alt="" title="5" href="" coords="219,117 249,117 249,137 266,137 267,152 249,151 249,175 219,176 " shape="polygon" (click)="setWorkstationInSession('hr-and-sales', 5)">
</map>
