<header>
  <div class="container-fluid h-100" id="container">

    <app-workstation-header [title]="title"></app-workstation-header>

    <div class="row" id="first_floor">

      <div class="col mt-3 text-center">

        <img src="../../../../../assets/img/DirezioneGeneraleErrePro_1P.png" usemap="#image_map">
        <map name="image_map">
          <area alt="" title="1" href="/Workstation" coords="52,121 82,121 82,188 52,187 52,157 36,157 37,139 52,139"
            shape="polygon" (click)="setWorkstationInSession('dir-erre-pro', 1)">
        </map>
      </div>
    </div>
  </div>
</header>