<header>
	<div class="container">
		<div  *ngIf="showList?.length; else emptyList" class="row h-100 d-flex flex-column flex-wrap">
			<div class="col mt-5">
				<div class="row h-100 align-items-end">

					<div class="col-6 mb-2 d-flex flex-row">

						<button class="btn mr-2" id="btn-add" (click)="onAddArticleButton()" data-toggle="modal"
							data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button>
						<select [(ngModel)]="filtered" class="custom-select" name="filter">
							<option selected disabled>Filter by:</option>
							<option value="identifier">Identifier</option>
                            <option value="users">Users</option>
                            <option value="brand">Brand</option>
                            <option value="model">Model</option>
                            <option value="serialNumber">Serial Number</option>
                            <option value="location">Location</option>
                            <option value="userNumber">User Number</option>
                            <option value="productKey">Product Key</option>
						</select>
					</div>
					<div class="col-6 mb-2 d-flex flex-row">
						<input class="form-control" type="text" id="myInput" (keyup)="searchFunction()"
							placeholder="Search by filter...">
						<div class="custom-control custom-switch d-flex align-items-end ml-2">
							<button class="btn mr-2" id="btn-add" (click)="showAllList()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </button>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="table-responsive">
					<table id="myTable" class="table table-striped">
						<thead>
							<tr>
								<th scope="row">Identifier</th>
								<th scope="row">Users</th>
								<th scope="row">Brand</th>
								<th scope="row">Model</th>
								<th scope="row">Serial Number</th>
								<th scope="row">Location</th>
								<th scope="row">User Number</th>
								<th scope="row">Product Key</th>
								<th scope="row">Modify</th>
								<th scope="row">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let operativeSystem of showList">
								<td class="identifier">{{operativeSystem.identifier}}</td>
                                <td class="users">{{operativeSystem.users}}</td>
                                <td class="brand">{{operativeSystem.brand}}</td>
                                <td class="model">{{operativeSystem.model}}</td>
                                <td class="serialNumber">{{operativeSystem.serialNumber}}</td>
                                <td class="location">{{operativeSystem.location}}</td>
                                <td class="userNumber">{{operativeSystem.userNumber}}</td>
								<td class="productKey">{{operativeSystem.productKey}}</td>
								<!--<td>{{operativeSystem.associatedComputer.identifier}}</td>-->
								<td><button class="btn btn-success" id="btn-modify" (click)="onUpdateButton(operativeSystem)"
									data-toggle="modal" data-target="#saveOrUpdateModal">
									<fa-icon [icon]="faPen"></fa-icon>
								</button></td>
								<td><button  (click)="setProductToDelete(operativeSystem)" class="btn btn-danger" id="btn-delete"
									data-toggle="modal" data-target="#deleteArticleModal">
										<fa-icon [icon]="faEraser"></fa-icon>
									</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<ng-template #emptyList>
            <div class="container h-100 justify-content-center">
                <div class="row h-100">
                    <div id="emptyListMessage" class="col mt-5">
                        No Operative System present in the warehouse, press
                        <button class="btn mr-2" id="btn-add" data-toggle="modal" (click)="onAddArticleButton()"
                            data-target="#saveOrUpdateModal">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </button> to add a new Operative System, or press the Eye button to the side, to show a list of
                        Operative System with other
                        location <button class="btn mr-2" id="btn-add" (click)="showAllList()">
                            <fa-icon [icon]="faEyeSlash"></fa-icon>
                        </button></div>
                </div>

            </div>
        </ng-template>
	</div>
</header>


<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" id="modal">
			<div class="modal-body" id="modal-body">
				<app-form-operative-system (operativeSystemToEmit)="saveOrUpdate($event)"></app-form-operative-system>
			</div>
		</div>
	</div>
</div>

<!--Modal eliminazione -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="deleteProduct(productToDelete)" id="formLaptopDelete">
                    {{deleteMessage}} Insert a note here.
                    <div>
                        <textarea [(ngModel)]="note" name="note" id="note" class="form-control"></textarea>
                    </div>

                    <div class="form-group float-right">
                        <button  class="btn mr-2 float-left btn btn-danger">Delete</button>
                        <button type="button" class="btn float-left btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
