@font-face {
    font-family: Oswald;
    src: url("../../../assets/fonts/Oswald-Regular.ttf");
}

* {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 35px;
    letter-spacing: 10px;
    color: black;
}

h5 {
    color: #004fff;
}

main {
    height: 100%;
    background-image: url("../welcome/img/ufficio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*logo dentro all'header */

#logo {
    height: 150px;
    text-align: center;
}


/* HR line welcome */

.hr {
    margin-left: 0;
    /* fa partire l'hr da sinistra verso destra*/
    padding: 1px 0;
    background-color: black;
    border: none;
}

.trans--grow {
    transition: width 1s ease-out;
    width: 0%;
}

.grow {
    width: 90%;
}


/* Bottone start */

.btn-start,
.btn-start-logged {
    box-shadow: 1px 1px 2px #004fff;
    transition: 0.5s;
    letter-spacing: 2px;
}

.btn-start:hover,
.btn-start-logged:hover {
    background-color: #004fff;
    color: white;
    transition: 0.5s;
}