<main>
    <div class="container h-100" *ngIf="!login" [@openLogin]>
        <div class="row h-100 align-items-center">
            <div class="col-auto align-self-center">
                <a href=""><img src="../../assets/img/Logo Erre.png" alt="" id="logo"></a>
            </div>
            <div class="col align-self-center">
                <h1>ERRE TECHNOLOGY WAREHOUSE
                    <h5>You desire. We design.</h5>
                </h1>
                <hr class="trans--grow hr">
                <button *ngIf="!loggedIn" (click)="openLogin()" class="btn btn-start">START NOW</button>
                <button *ngIf="loggedIn" onclick="location.href = '/WelcomeMenu';" class="btn btn-start-logged">START NOW</button>
            </div>

        </div>
    </div>
    <login *ngIf="login" [@openLogin]></login>
</main>