@font-face {
    font-family: Oswald;
    src: url("../../../assets/fonts/Oswald-Regular.ttf");
}
* {
    font-family: "Oswald", sans-serif;
}
h5 {
    color: #004fff;
}
#header {
    height: 100%;
    background-image: url("../welcome/img/ufficio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#container{
    height: 100%;
}
#main {
    height: 100%;
    background-image: url("../welcome/img/ufficio-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*logo dentro all'header */
#logo {
    height: 150px;
    text-align: center;
}
/*scritte dentro al header*/
#line-1 {
    font-size: 35px;
    letter-spacing: 8px;
    color: black;
}

/* HR line welcome */
.hr {
    margin-left: 0; /* fa partire l'hr da sinistra verso destra*/
    padding: 1px 0;
    background-color: black;
    border: none;
}
.trans--grow {
    transition: width 1s ease-out;
    width: 0%;
}
.grow {
    width: 85%;
}

/* Bottone start */
#bottone-start {
    border-radius: 20px;
    border: 2px solid black;
    background-color: transparent;
    width: 150px;
    transition: 0.5s;
    font-size: 15px;
}
#bottone-start:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
    overflow: hidden;
}
