<div class="container">
    <div class="center">

        <button (click)="showList()" type="button" class="btn btn-dark btn-lg" data-toggle="modal"
            data-target="#addArticleModal">ADD ARTICLE FROM WAREHOUSE</button>
        <select [(ngModel)]="articleType" class="custom-select" name="articleType">
            <option selected disabled>Select:</option>
            <option value="laptop">Laptop</option>
            <option value="desktoo">Desktop</option>
            <option value="monitor">Monitor</option>
            <option value="keyboard">Keyboard</option>
            <option value="mouse">Mouse</option>
        </select>

        <button (click)="showList()" type="button" class="btn btn-light btn-lg" data-toggle="modal"
            data-target="#addArticleModal">ADD ARTICLE</button>
        <select [(ngModel)]="articleType" class="custom-select" name="articleType">
            <option selected disabled>Select:</option>
            <option selected disabled>Select:</option>
            <option value="identifier">Laptop</option>
            <option value="model">Desktop</option>
            <option value="brand">Monitor</option>
            <option value="location">Keyboard</option>
            <option value="type">Mouse</option>
        </select>
    </div>
</div>

<div *ngIf="flag">
    <ul>
        <li *ngFor="let article of workstationArticles">{{article.identifier}}</li>
    </ul>
</div>

<div>
    <button (click)="createWorkstation()">CREATE WORKSTATION</button>
</div>

<!-- Modal -->
<div class="modal fade" id="addArticleModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">List {{articleType}}:</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="col">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let column of columns" scope="row">{{column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows">
                                    <td *ngFor="let field of row">{{field}}</td>
                                    <td><button (click)="addArticle(row)">add</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button data-dismiss="modal"> Chiudi </button>
            </div>
        </div>
    </div>
</div>