<div>
    <h3>ADD / UPDATE DOCKING STATION</h3>
    <form autocomplete="off" (ngSubmit)="sendDockingStationToParent()" class="form-group" id="formDockingStation" #form="ngForm">

        <div class="form-group mb-2" id="dockingStationGroup">
            <input [(ngModel)]="dockingStationTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-group mb-2" id="dockingStationGroup">
            <input required [(ngModel)]="dockingStationTemp.brand" name="brand" class="form-control" placeholder="Brand:" #brand="ngModel">
            <div *ngIf="brand.invalid &&(brand.dirty || brand.touched)" class="alert alert-danger mt-2" role="alert">
                <div *ngIf="brand.errors.required">
                    Brand is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2" id="dockingStationGroup">
            <input [(ngModel)]="dockingStationTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-group mb-2" id="dockingStationGroup">
            <input required [(ngModel)]="dockingStationTemp.serialNumber" name="serialNumber" class="form-control" placeholder="Serial number:" #serialNumber="ngModel">
            <div *ngIf="serialNumber.invalid &&(serialNumber.dirty || serialNumber.touched)" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="serialNumber.errors.required">
                    Serial Number is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2" id="dockingStationGroup">
            <input [(ngModel)]="dockingStationTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-group mb-4" id="dockingStationGroup">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button id="btnSave" [disabled]="form.invalid" class="btn mr-2 btn-add">Add / Update docking station</button>
            <button class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>