<div>
    <h3>ADD DOCKING STATION</h3>
<form (ngSubmit)="sendDockingStationToParent()" id="formDockingStation">

    <div class="form-control mb-2" id="dockingStationGroup">
        <input [(ngModel)]="dockingStationTemp.users" name="users" class="form-control" placeholder="Users:">
    </div>
    <div class="form-control mb-2" id="dockingStationGroup">
        <input [(ngModel)]="dockingStationTemp.brand" name="brand" class="form-control" placeholder="Brand:">
    </div>
    <div class="form-control mb-2" id="dockingStationGroup">
        <input [(ngModel)]="dockingStationTemp.model" name="model" class="form-control" placeholder="Model:">
    </div>
    <div class="form-control mb-2" id="dockingStationGroup">
        <input [(ngModel)]="dockingStationTemp.serialNumber" name="serialNumber" class="form-control"
            placeholder="Serial number:">
    </div>
    <div class="form-control mb-2" id="dockingStationGroup">
        <input [(ngModel)]="dockingStationTemp.userNumber" name="userNumber" class="form-control"
            placeholder="User number:">
    </div>
    <div class="form-control mb-4" id="dockingStationGroup">
        <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
    </div>
    <div class="float-right">
        <button class="btn mr-2 float-left">Save/Update dockingStation</button>
        <button class="btn float-left" data-dismiss="modal">Close</button>
    </div>
</form>
</div>
