@font-face {
    font-family: Oswald;
    src: url("./../../assets/fonts/Oswald-Regular.ttf");
}
* {
    font-family: "Oswald", sans-serif;
}
html,
body,
#header-welcome {
    height: 100%;
}

#header-welcome {
    background-image: url("../welcome/img/ufficio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.6s;
}
#container-welcome{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*logo dentro all'header */
#logo {
    height: 150px;
}

/*scritte dentro al header*/
#line-1 {
    font-size: 36px;
    letter-spacing: 8px;
    color: black;
}

/* HR line welcome */
.hr {
    margin-left: 0; /* fa partire l'hr da sinistra verso destra*/
    padding: 1px 0;
    background-color: black;
    border: none;
}
.trans--grow {
    transition: width 1s ease-out;
    width: 0%;
}
.grow {
    width: 100%;
}

/* Bottone start */
#btn-start {
    padding: 5px 30px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
#btn-start:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
    overflow: hidden;
}
