<header id="header">
    <div class="container" id="container">
        <div class="row h-100">

            <div class="col-12">
                <div id="sidenav">
                    <login></login>
                </div>
            </div>

            <!-- Page Intro -->
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <a href=""><img src="../../assets/img/Logo Erre.png" alt="" id="logo"></a>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-auto col-sm-auto">
                        <h1 id="line-1"><strong>WELCOME TO ERRE TECHNOLOGY WAREHOUSE</strong></h1>
                        <h5 id="line-2"><strong> YOU DESIRE. WE DESIGN.</strong></h5>
                        <hr class="trans--grow hr">
                        <button class="btn btn-start-grow" id="btn-start" onclick="mediaQuery()">START NOW</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>