
@font-face {
  font-family: Poppins;
  src: url("../../../assets/fonts/Oswald-Regular.ttf");
}

* {
  font-family: "Oswald", sans-serif;
  
}

#imgLogo{
  width: 200px;
  
}
#sideHeader{
  text-align: right;
  font-size: 10px;
  

}

#tableProduct{
  min-height: 500px;
}

#sideHeader{
  text-align: right;
  font-size: 10px;

}
#sideFooter{
  text-align: right;
  font-size: 10px;
}
.btn-pdf {
    background: teal;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  
  .link{
    font-size: 11px;
    font-weight: 500;
    padding: 3px 0 3px 0
  }
  
 
  
  #pdfSink{
    max-width: 700px;
  
  }
  
 