<div class="col-md-6">
	<h2> Cable list</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cable of listProduct">
				<td class="hidden"></td>
			<td>{{cable.identifier}}</td>
			<td>{{cable.users}}</td>
			<td>{{cable.brand}}</td>
			<td>{{cable.model}}</td>
			<td>{{cable.serialNumber}}</td>
			<td>{{cable.location}}</td>
			<td>{{cable.userNumber}}</td>
			<td>{{cable.type}}</td>
		
			</tr>
		</tbody>
	</table>
</div>