@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html {
    height: 100%;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 100px;
    margin: 10px 0px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #52b788, #74c69d, #95d5b2);
}
#btn-signup {
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 20px;
    background: transparent;
    transition: 0.5s;
}
#btn-signup:hover {
    background-color: #57b98b;
    border-color: #57b98b;
    transition: 0.5s;
}
#input-signup-username, #input-signup-password {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}
::placeholder {
    opacity: 1;
}
#h1-signup {
    font-size: 40px;
    letter-spacing: 2px;
}
#span-signup {
    letter-spacing: 4px;
}
#icn-freccia {
    margin-left: 5px;
}
.errorInput {
    padding: 5px 40px;
    background: transparent;
    color: red;
}
#signup-failed{
    background: transparent;
    color: red;
}
#signup-success{
    padding: 5px 40px;
    background: transparent;
    color: black;
}

