<div class="container-fluid" id="container">
    <div class="row align-items-center h-100">
        <div class="col align-self-center d-flex justify-content-center">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="row">
                    <div class="col mb-5 d-flex flex-row">
                        <img src="../../assets/img/Logo Erre.png" class="pr-3">
                        <h1>Sign up</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <span>Hi, create a new account here!</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <input required minlength="3" maxlength="20" #username="ngModel"
                            type="text" placeholder="Username:" name="username" [(ngModel)]="user.username" />
                    </div>
                    <div class="errorInput" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.minlength">
                            Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors.maxlength">
                            Username must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <input type="text" placeholder="E-mail:">
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-2">
                        <input type="password" required minlength="6" #password="ngModel"
                            placeholder="Password:" name="password" [(ngModel)]="user.password" />
                    </div>
                    <div class="errorInput" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <input type="password" required minlength="6" #password="ngModel"
                            placeholder="Conferma password:" name="password" [(ngModel)]="user.password" />
                    </div>
                    <div class="errorInput" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit"><strong>Sign up</strong></button>
                        <div id="signup-failed" *ngIf="f.submitted && isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}
                        </div>
                        <div id="signup-success" class="alert alert-success" *ngIf="isSuccessful">
                            Your registration is successful!
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>