@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html {
    height: 100%;
}
form {
    padding: 100px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #52b788, #74c69d, #95d5b2);
}
img {
    height: 35px;
}
input {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}
::placeholder {
    opacity: 1;
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
}
span {
    letter-spacing: 4px;
}
button {
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 20px;
    background: transparent;
    transition: 0.5s;
}
button:hover {
    background-color: #57b98b;
    border-color: #57b98b;
    transition: 0.5s;
}

#container {
    height: 100%;
    background-image: url("../welcome/img/ufficio-blured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.errorInput {
    padding: 5px 40px;
    background: transparent;
    color: red;
}
#signup-failed {
    background: transparent;
    color: red;
}
#signup-success {
    padding: 5px 40px;
    background: transparent;
    color: black;
}
