<div>
    <h3>ADD MOUSE</h3>
    <form (ngSubmit)="sendMouseToParent()" id="formMouse">

        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.brand" name="brand" class="form-control" placeholder="Brand:">
        </div>
        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.serialNumber" name="serialNumber" class="form-control"
                placeholder="Serial number:">
        </div>
        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-control mb-2" id="mouseGroup">
            <input [(ngModel)]="mouseTemp.type" name="type" class="form-control" placeholder="Type:">
        </div>
        <div class="form-control mb-4" id="mouseGroup">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button class="btn mr-2 float-left">Save/Update mouse</button>
            <button class="btn float-left" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>