<div>
    <h3>ADD HDD</h3>
<form (ngSubmit)="sendHddToParent()" id="formHdd">

    <div class="form-control mb-2" id="hddGroup">
        <input [(ngModel)]="hdd.users" name="users" class="form-control" placeholder="Users:">
    </div>
    <div class="form-control mb-2" id="hddGroup">
        <input [(ngModel)]="hdd.brand" name="brand" class="form-control" placeholder="Brand:">
    </div>
    <div class="form-control mb-2" id="hddGroup">
        <input [(ngModel)]="hdd.model" name="model" class="form-control" placeholder="Model:">
    </div>
    <div class="form-control mb-2" id="hddGroup">
        <input [(ngModel)]="hdd.serialNumber" name="serialNumber" class="form-control"
            placeholder="Serial number:">
    </div>
    <div class="form-control mb-2" id="hddGroup">
        <input [(ngModel)]="hdd.userNumber" name="userNumber" class="form-control"
            placeholder="User number:">
    </div>
    <div class="form-control mb-4" id="hddGroup">
        <input [(ngModel)]="hdd.capacity" name="capacity" class="form-control" placeholder="Capacity:">
    </div>
    <div class="float-right">
        <button class="btn mr-2 float-left">Save/Update hdd</button>
        <button class="btn float-left" data-dismiss="modal">Close</button>
    </div>
</form>
</div>
