@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

body,
html {
    height: 100%;
}

form {
    padding: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 8px 1px gray;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.3s;
    color: black;
}

a:hover {
    color: #004fff;
    transition: 0.3s;
}

img {
    height: 35px;
}

input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}

::placeholder {
    opacity: 1;
    color: #004fff;
}

button {
    box-shadow: 1px 1px 2px #004fff;
    transition: 0.5s;
    letter-spacing: 2px;
}

button:hover {
    background-color: #004fff;
    color: white;
    transition: 0.5s;
}

#span-signin {
    color: #004fff;
    font-size: 35px;
    letter-spacing: 2px;
}

span {
    letter-spacing: 4px;
}

#user-span,
#now-span {
    color: #004fff;
}