@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

body,
html {
    height: 100%;
}

form {
    padding: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 2px 1px whitesmoke;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.3s;
    color: black;
}

a:hover {
    color: #004fff;
    transition: 0.3s;
}

img {
    height: 35px;
}

input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}

::placeholder {
    opacity: 1;
    color: black;
}

#span-signin {
    color: #004fff;
    font-size: 35px;
    letter-spacing: 2px;
}

span {
    letter-spacing: 4px;
}

#user-span,
#now-span {
    color: #004fff;
}

.btn-signin {
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    outline: none;
    box-shadow: none;
}

.btn-signin:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #004fff;
    transition: width 0.5s;
}

.btn-signin:hover::after {
    width: 100%;
}