@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html {
    height: 100%;
}
form {
    padding: 100px;
    border-radius: 20px;
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;
}
a:hover{
    color: #004fff;
    transition: 0.3s;
}
img{
    height: 35px;
}
#btn-signin {
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.5s;
}
#btn-signin:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}
#input-signin-username, #input-signin-password {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}
::placeholder {
    opacity: 1;
}
#h1-signin {
    font-size: 40px;
    letter-spacing: 2px;
}
#span-signin {
    letter-spacing: 4px;
}
