<header class="header">
    <nav class="navbar navbar-expand-lg navbar-home fixed-top">
        <div class="container-fluid d-flex flex-row">
            <div class="row w-100">
                <div class="col-1">
                    <a class="navbar-brand" href="WelcomeMenu"> <img class="navbar-img" src="../../assets/img/Logo Erre.png"></a>
                </div>
                <div class="col align-self-center text-left">
                    <a class="btn navbar-btn mr-1 ml-2" href="WarehouseHomeList">WAREHOUSE HOME</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WorkstationWelcome">WORKSTATION</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="HistoryWelcome">HISTORIC</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="FormBolla">DDT</a>
                </div>
                <div class="col align-self-center"><logout></logout></div>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div class="container-fluid">
        <div *ngIf="showList?.length; else emptyList" class="row h-100 d-flex flex-column flex-wrap">
            <div class="col mt-5">
                <div class="row h-100 align-items-end">
                    <div class="col-6 mb-2 d-flex flex-row">

                        <button class="btn mr-2 btn-add" (click)="onAddArticleButton()" data-toggle="modal" data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button>
                        <select [(ngModel)]="filtered" class="custom-select" name="filter">
							<option selected disabled>Filter by:</option>
							<option value="identifier">Identifier</option>
                            <option value="users">Users</option>
                            <option value="brand">Brand</option>
                            <option value="model">Model</option>
                            <option value="serialNumber">Serial Number</option>
                            <option value="location">Location</option>
                            <option value="userNumber">User Number</option>
                            <option value="height">Height</option>
                            <option value="width">Width</option>
							<option value="length">Length</option>
						</select>
                    </div>
                    <div class="col-6 mb-2 d-flex flex-row">
                        <input class="form-control input-up--table" type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search by filter...">
                        <div class="custom-control custom-switch d-flex align-items-end ml-2">
                            <button class="btn mr-2 btn-eye" (click)="showAllList()">
								<fa-icon *ngIf="isChecked" [icon]="faEyeSlash"></fa-icon>
								<fa-icon *ngIf="!isChecked" [icon]="faEye"></fa-icon>                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="row">Identifier</th>
                                <th scope="row">Users</th>
                                <th scope="row">Brand</th>
                                <th scope="row">Model</th>
                                <th scope="row">Serial Number</th>
                                <th scope="row">Location</th>
                                <th scope="row">User Number</th>
                                <th scope="row">Heigth</th>
                                <th scope="row">Width</th>
                                <th scope="row">Length</th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let graphicTablet of showList">
                                <td class="identifier">{{graphicTablet.identifier}}</td>
                                <td class="users">{{graphicTablet.users}}</td>
                                <td class="brand">{{graphicTablet.brand}}</td>
                                <td class="model">{{graphicTablet.model}}</td>
                                <td class="serialNumber">{{graphicTablet.serialNumber}}</td>
                                <td class="location">{{graphicTablet.location}}</td>
                                <td class="userNumber">{{graphicTablet.userNumber}}</td>
                                <td class="height">{{graphicTablet.height}}</td>
                                <td class="width">{{graphicTablet.width}}</td>
                                <td class="length">{{graphicTablet.length}}</td>
                                <td>
                                    <button class="btn btn-table--modify" (click)="onUpdateButton(graphic-tablet)" data-toggle="modal" data-target="#saveOrUpdateModal">
                                     Modify
                                    </button>
                                </td>
                                <td>
                                    <button *ngIf="graphic-tablet.location.includes(Presso)" class="btn btn-table--move" (click)="setProductToMove(graphic-tablet)" data-toggle="modal" data-target="#moveToWarehouseModal">
                                        Move to warehouse
                                       </button>
                                </td>
                                <td><button (click)="setProductToDelete(graphic-tablet)" class="btn btn-table--delete" data-toggle="modal" data-target="#deleteArticleModal">
										Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ng-template #emptyList>
            <div class="container">
                <div class="row">
                    <div id="emptyListMessage" class="col mt-5 mb-5">
                        <span>No Graphic Tablet present in the warehouse, press </span>
                        <button class="btn mr-2 btn-add" data-toggle="modal" (click)="onAddArticleButton()" data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button> to add a new Graphic Tablet <span *ngIf="listProduct?.length">, or press <button class="btn mr-2 btn-eye"
                            (click)="showAllList()">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button> to show a list of Graphic Tablet with other locations </span>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-body">
                <app-form-graphic-tablet (graphicTabletToEmit)="saveOrUpdate($event)"></app-form-graphic-tablet>
            </div>
        </div>
    </div>
</div>

<!--Modal eliminazione -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <span class="modal-title">{{deleteMessage}}</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="deleteProduct(productToDelete)">
                <div class="modal-body">
                    <textarea [(ngModel)]="note" name="note" id="note" class="form-control" placeholder="Insert a note..."></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-modal--delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>