@font-face {
    font-family: Poppins;
    src: url("../../../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body,
header {
    height: 100%;
}

#imgMap {
    size: 100%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0px;
}