<header>
	<div class="container">
		<div *ngIf="showList?.length; else emptyList" class="row h-100 d-flex flex-column flex-wrap">
			<div class="col mt-5">
				<div class="row h-100 align-items-end">

					<div class="col-6 mb-2 d-flex flex-row">

						<button class="btn mr-2" id="btn-add" (click)="onAddArticleButton()" data-toggle="modal"
							data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button>
						<select [(ngModel)]="filtered" class="custom-select" name="filter">
							<option selected disabled>Filter by:</option>
							<option value="identifier">Identifier</option>
							<option value="users">Users</option>
							<option value="brand">Brand</option>
							<option value="model">Model</option>
							<option value="serialNumber">Serial Number</option>
							<option value="location">Location</option>
							<option value="userNumber">User Number</option>
							<option value="capacity">Capacity</option>
							<option value="frequencies">Frequencies</option>
						</select>
					</div>
					<div class="col-6 mb-2 d-flex flex-row">
						<input class="form-control" type="text" id="myInput" (keyup)="searchFunction()"
							placeholder="Search by filter...">
						<div class="custom-control custom-switch d-flex align-items-end ml-2">
							<input type="checkbox" class="custom-control-input" id="location" name="location"
								[(ngModel)]="isChecked" (change)="setList()">
							<label for="location" class="custom-control-label" id="label-all">All</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="table-responsive">
					<table id="myTable" class="table table-striped">
						<thead>
							<tr>
								<th scope="row">Identifier</th>
								<th scope="row">Users</th>
								<th scope="row">Brand</th>
								<th scope="row">Model</th>
								<th scope="row">Serial Number</th>
								<th scope="row">Location</th>
								<th scope="row">User Number</th>
								<th scope="row">Capacity</th>
								<th scope="row">Frequencies</th>
								<th scope="row">Modify</th>
								<th scope="row">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let ram of showList">
								<td class="identifier">{{ram.identifier}}</td>
								<td class="users">{{ram.users}}</td>
								<td class="brand">{{ram.brand}}</td>
								<td class="model">{{ram.model}}</td>
								<td class="serialNumber">{{ram.serialNumber}}</td>
								<td class="location">{{ram.location}}</td>
								<td class="userNumber">{{ram.userNumber}}</td>
								<td class="capacity">{{ram.capacity}}</td>
								<td class="frequencies">{{ram.frequencies}}</td>
								<td><button class="btn btn-success" id="btn-modify" (click)="onUpdateButton(ram)"
										data-toggle="modal" data-target="#saveOrUpdateModal">
										<fa-icon [icon]="faPen"></fa-icon>
									</button></td>
								<td><button (click)="setProductToDelete(ram)" class="btn btn-danger" id="btn-delete"
										data-toggle="modal" data-target="#deleteArticleModal">
										<fa-icon [icon]="faEraser"></fa-icon>
									</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<ng-template #emptyList>
			<div class="container h-100 justify-content-center">
				<div class="row h-100">
					<div id="emptyListMessage" class="col mt-5">
						No RAM present in the warehouse, press
						<button class="btn mr-2" id="btn-add" data-toggle="modal" (click)="onAddArticleButton()"
							data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button> to add a new RAM.</div>
				</div>

			</div>
		</ng-template>
	</div>
</header>

<!--Modal-->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content" id="modal">

			<div class="modal-header" id="modal-header">
				<h3 class="modal-title">Add a new article:</h3>
			</div>
			<div class="modal-body" id="modal-body">
				<app-form-ram (ramToEmit)="saveOrUpdate($event)"></app-form-ram>
			</div>
		</div>
	</div>
</div>

<!--Modal eliminazione -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete Product</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form (ngSubmit)="deleteProduct(productToDelete)" id="formLaptopDelete">
					{{deleteMessage}} Insert a note here.
					<div>
						<textarea [(ngModel)]="note" name="note" id="note" class="form-control"></textarea>
					</div>

					<div class="form-group float-right">
						<button class="btn mr-2 float-left btn btn-danger">Delete</button>
						<button type="button" class="btn float-left btn btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>