<div class="col-md-6">
	<h2> Ram list</h2>

	<table class="table table-striped">
		<thead>
			<tr> <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
					add article
				</button></tr>
			<tr>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
				<th>Capacity</th>
				<th>Frequency</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ram of listProduct">
				<td class="hidden"></td>
				<td>{{ram.identifier}}</td>
				<td>{{ram.users}}</td>
				<td>{{ram.brand}}</td>
				<td>{{ram.model}}</td>
				<td>{{ram.serialNumber}}</td>
				<td>{{ram.location}}</td>
				<td>{{ram.userNumber}}</td>
				<td>{{ram.capacity}}</td>
				<td>{{ram.frequencies}}</td>
				<td><button class="btn btn-success" (click)="updateSavedEntity(ram)" data-toggle="modal"
						data-target="#modificaModal">
					</button></td>
				<td><button (click)="deleteProduct(ram)" class="btn btn-danger">
					</button></td>
			</tr>
		</tbody>
	</table>
</div>


<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-auto">
						<form (ngSubmit)="saveOrUpdate()" id="formRam">

							<div class="form-group" id="ramGroup">
								<label>Users:</label>
								<input [(ngModel)]="entity.users" class="form-control" name="users">
							</div>
							<div class="form-group" id="ramGroup">
								<label>Brand:</label>
								<input [(ngModel)]="entity.brand" class="form-control" name="brand">
							</div>
							<div class="form-group" id="ramGroup">
								<label>Model:</label>
								<input [(ngModel)]="entity.model" class="form-control" name="model">
							</div>
							<div class="form-group" id="ramGroup">
								<label>Serial Number:</label>
								<input [(ngModel)]="entity.serialNumber" class="form-control" name="serialNumber">
							</div>
							<div class="form-group" id="ramGroup">
								<label>Location:</label>
								<input [(ngModel)]="entity.location" class="form-control" name="location">
							</div>
							<div class="form-group" id="ramGroup">
								<label>User Number:</label>
								<input [(ngModel)]="entity.userNumber" class="form-control" name="userNumber">
							</div>
							<div class="form-group" id="ramGroup">
								<label>Type:</label>
								<input [(ngModel)]="entity.type" class="form-control" name="type">
							</div>
							<button class="btn btn-primary">Save/Update RAM</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>