<div>
    <h3>ADD MONITOR</h3>
    <form (ngSubmit)="sendMonitorToParent()" id="formMonitor">

        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.brand" name="brand" class="form-control" placeholder="Brand:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.serialNumber" name="serialNumber" class="form-control"
                placeholder="Serial number:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.inches" name="inches" class="form-control" placeholder="Inches:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.frequence" name="frequence" class="form-control" placeholder="Frequence:">
        </div>
        <div class="form-control mb-2" id="monitorGroup">
            <input [(ngModel)]="monitorTemp.resolution" name="resolution" class="form-control" placeholder="Resolution:">
        </div>
        <div class="form-control mb-4" id="monitorGroup">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button class="btn mr-2 float-left">Save/Update monitor</button>
            <button class="btn float-left" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>