<header id="header-login">
    <div class="container" id="container-login">
        <div class="row h-100">
            <div class="col-12 align-self-center" id="col-choose">
                <form>

                    <div class="row mb-5">
                        <div class="col-12">
                            <a href=""><img src="../../assets/img/erretechnologygroup.png" alt="" id="logo-login"></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2>Welcome back in Erre Warehouse!</h2>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <h4>Are you new?</h4>
                            <button id="btn-choose-signup"><strong>Sign up</strong></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Already a user?</h4>
                            <button id="btn-choose-signin"><strong>Sign in</strong></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</header>