@font-face {
    font-family: Poppins;
    src: url("./../../assets/fonts/Poppins-Light.ttf");
}
* {
    font-family: "Poppins", sans-serif;
}
body,
html {
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
}

#header-login {
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    transition: 1s;
    overflow-x: hidden;
    background: transparent;
}
#container-login {
    background-color: transparent;
    height: 100%;
}
#col-choose {
    padding: 100px 0;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #edf2fb, #e2eafc, #d7e3fc);
}
#col-choosed {
    padding: 100px 0;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #ccdbfd, #c1d3fe, #b6ccfe);
}
#btn-choose-signin {
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
#btn-choose-signin:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}
#btn-choose-signup {
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
#btn-choose-signup:hover {
    background-color: #004fff;
    border-color: #004fff;
    color: white;
    transition: 0.5s;
}

#logo-login {
    height: 150px;
}
#hr-login {
    padding: 1px 0;
    background-color: black;
    border: none;
}
