<header class="header">
    <nav class="navbar navbar-expand-lg navbar-home fixed-top">
        <div class="container-fluid d-flex flex-row">
            <div class="row w-100">
                <div class="col-1">
                    <a class="navbar-brand" href="WelcomeMenu"> <img class="navbar-img" src="../../assets/img/Logo Erre.png"></a>
                </div>
                <div class="col align-self-center text-left">
                    <a class="btn navbar-btn mr-1 ml-2" href="WelcomeMenu">HOME</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WorkstationWelcome">WORKSTATION</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="HistoryWelcome">HISTORIC</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="FormBolla">DDT</a>
                </div>
                <div class="col align-self-center"> <logout></logout></div>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-1"></div>
            <div class="col-10">

                <div class="row">
                    <div class="col mt-2">
                        <laptop-count></laptop-count>
                    </div>
                    <div class="col mt-2">
                        <desktop-count></desktop-count>
                    </div>
                    <div class="col mt-2">
                        <monitor-count></monitor-count>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col mt-2">
                        <mouse-count></mouse-count>
                    </div>
                    <div class="col mt-2">
                        <software-count></software-count>
                    </div>
                    <div class="col mt-2">
                        <hdd-count></hdd-count>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col mt-2">
                        <cellphone-count></cellphone-count>
                    </div>

                    <div class="col mt-2">
                        <cpu-count></cpu-count>
                    </div>
                    <div class="col mt-2">
                        <gpu-count></gpu-count>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col mt-2">
                        <ssd-count></ssd-count>
                    </div>
                    <div class="col mt-2">
                        <ram-count></ram-count>
                    </div>
                    <div class="col mt-2">
                        <keyboard-count></keyboard-count>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col mt-2">
                        <docking-station-count></docking-station-count>
                    </div>
                    <div class="col mt-2">
                        <cable-count></cable-count>
                    </div>
                    <div class="col mt-2">
                        <token-count></token-count>
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <div class="col mt-2">
                        <operative-system-count></operative-system-count>
                    </div>
                    <div class="col mt-2">
                        <power-supplie-count></power-supplie-count>
                    </div>
                    <div class="col mt-2">
                        <graphic-tablet-count></graphic-tablet-count>
                    </div>

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>