<div>
    <h3>ADD OPERATIVE SYSTEM</h3>
    <form (ngSubmit)="sendOperativeSystemToParent()" id="formOperativeSystem">

        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.brand" name="brand" class="form-control" placeholder="Brand:">
        </div>
        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.serialNumber" name="serialNumber" class="form-control"
                placeholder="Serial number:">
        </div>
        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-control mb-2" id="operativeSystemGroup">
            <input [(ngModel)]="operativeSystemTemp.productKey" name="productKey" class="form-control" placeholder="Product Key:">
        </div>
        <div class="form-control mb-4" id="operativeSystemGroup">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button class="btn mr-2 float-left">Save/Update operativeSystem</button>
            <button class="btn float-left" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>