<div class="col-md-6">
	<h2> Software list</h2>

	<table class="table table-striped">
		<thead>
			<tr><button class="btn btn-primary" (click)="onAddArticleButton()" data-toggle="modal"
					data-target="#saveOrUpdateModal">
					add article
				</button></tr>
			<tr>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
				<th>Product Key</th>
				<th>Associated Computer</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let software of listProduct">
				<td class="hidden"></td>
				<td>{{software.identifier}}</td>
				<td>{{software.users}}</td>
				<td>{{software.brand}}</td>
				<td>{{software.model}}</td>
				<td>{{software.serialNumber}}</td>
				<td>{{software.location}}</td>
				<td>{{software.userNumber}}</td>
				<td>{{software.productKey}}</td>
				<td>{{software.associatedComputer.identifier}}</td>
				<td><button class="btn btn-success" (click)="onUpdateButton(software)" data-toggle="modal"
						data-target="#saveOrUpdateModal">
					</button></td>
				<td><button (click)="deleteProduct(software)" class="btn btn-danger">
					</button></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-auto">
						<form (ngSubmit)="saveOrUpdate()" id="formSoftware">

							<div class="form-group" id="softwareGroup">
								<label>Users:</label>
								<input [(ngModel)]="entity.users" class="form-control" name="users">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>Brand:</label>
								<input [(ngModel)]="entity.brand" class="form-control" name="brand">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>Model:</label>
								<input [(ngModel)]="entity.model" class="form-control" name="model">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>Serial Number:</label>
								<input [(ngModel)]="entity.serialNumber" class="form-control" name="serialNumber">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>Location:</label>
								<input [(ngModel)]="entity.location" class="form-control" name="location">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>User Number:</label>
								<input [(ngModel)]="entity.userNumber" class="form-control" name="userNumber">
							</div>
							<div class="form-group" id="softwareGroup">
								<label>Type:</label>
								<input [(ngModel)]="entity.type" class="form-control" name="type">
							</div>
							<button class="btn btn-primary">Save/Update Software</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>