<header>
    <div class="container">
        <div class="row h-100 d-flex flex-column flex-wrap">
            <div class="col mt-5">
                <div class="row h-100 align-items-end">

                    <div class="col-6 mb-2 d-flex flex-row">

                        <button class="btn mr-2" id="btn-add" (click)="onAddArticleButton()" data-toggle="modal" data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button>
                        <select [(ngModel)]="filtered" class="custom-select" name="filter">
							<option selected disabled>Filter by:</option>
                            <option value="identifier">Identifier</option>
                            <option value="users">Users</option>
                            <option value="brand">Brand</option>
                            <option value="model">Model</option>
                            <option value="serialNumber">Serial Number</option>
                            <option value="location">Location</option>
                            <option value="userNumber">User Number</option>
                            <option value="imeiCode">ImieiCode</option>
                            <option value="operator">Operator</option>
                            <option value="phoneNumber">Phone Number</option>
                            <option value="rateTypology">Rate Typology</option>
						</select>
                    </div>
                    <div class="col-6 mb-2 d-flex flex-row">
                        <input class="form-control" type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search by filter...">
                        <div class="custom-control custom-switch d-flex align-items-end ml-2">
                            <input type="checkbox" class="custom-control-input" id="location" name="location" [(ngModel)]="isChecked" (change)="setList()">
                            <label for="location" class="custom-control-label" id="label-all">All</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div *ngIf="listProduct?.length; else emptyList" class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="row">Identifier</th>
                                <th scope="row">Users</th>
                                <th scope="row">Brand</th>
                                <th scope="row">Model</th>
                                <th scope="row">Serial Number</th>
                                <th scope="row">Location</th>
                                <th scope="row">User Number</th>
                                <th scope="row">imeiCode</th>
                                <th scope="row">operator</th>
                                <th scope="row">phoneNumber</th>
                                <th scope="row">rateTypology</th>
                                <th scope="row">Modify</th>
                                <th scope="row">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cellphone of showList">
                                <td class="identifier">{{cellphone.identifier}}</td>
                                <td class="users">{{cellphone.users}}</td>
                                <td class="brand">{{cellphone.brand}}</td>
                                <td class="model">{{cellphone.model}}</td>
                                <td class="serialNumber">{{cellphone.serialNumber}}</td>
                                <td class="location">{{cellphone.location}}</td>
                                <td class="UserNumber">{{cellphone.userNumber}}</td>
                                <td class="imieiCode">{{cellphone.imeiCode}}</td>
                                <td class="operator">{{cellphone.operator}}</td>
                                <td class="phoneNumber">{{cellphone.phoneNumber}}</td>
                                <td class="rateTypology">{{cellphone.rateTypology}}</td>
                                <td><button class="btn btn-success" id="btn-modify" (click)="onUpdateButton(cellphone)" data-toggle="modal" data-target="#saveOrUpdateModal">
									<fa-icon [icon]="faPen"></fa-icon>
								</button></td>
                                <td><button  (click)="setProductToDelete(cellphone)" class="btn btn-danger" id="btn-delete"
                                    data-toggle="modal" data-target="#deleteArticleModal">
                                        <fa-icon [icon]="faEraser"></fa-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #emptyList>
                    <div id="emptyListMessage">No Cellphone present in the warehouse, press
                        <fa-icon [icon]="faPlus"></fa-icon> to add a new Cellphone.</div>
                </ng-template>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">


        <div class="modal-content" id="modal">
            <div class="modal-body" id="modal-body">
                <app-form-cellphone (cellphoneToEmit)="saveOrUpdate($event)"></app-form-cellphone>
            </div>
        </div>
    </div>
</div>

<!--Modal eliminazione -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Cellphone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{deleteMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteProduct(productToDelete)" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>