<div class="col-md-6">
	<h2> Desktop Details</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th class="hidden">Id</th>
				<th>Identifier</th>
				<th>Users</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Serial Number</th>
				<th>Location</th>
				<th>User Number</th>
			
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dockingStation of listProduct">
				<td class="hidden"></td>
				<td>{{dockingStation.identifier}}</td>
				<td>{{dockingStation.users}}</td>
				<td>{{dockingStation.brand}}</td>
				<td>{{dockingStation.model}}</td>
				<td>{{dockingStation.serialNumber}}</td>
				<td>{{dockingStation.location}}</td>
				<td>{{dockingStation.userNumber}}</td>
			
				
			</tr>
		</tbody>
	</table>
</div>