<header class="header">
    <nav class="navbar navbar-expand-lg navbar-home">
        <div class="container-fluid d-flex flex-row">
            <div class="row w-100">
                <div class="col-1">
                    <a class="navbar-brand" href="WelcomeMenu"> <img class="navbar-img" src="../../assets/img/Logo Erre.png"></a>
                </div>
                <div class="col align-self-center text-left">
                    <a class="btn navbar-btn mr-1 ml-2" href="HistoryWelcome">HISTORIC HOME</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WorkstationWelcome">WORKSTATION</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WarehouseHomeList">WAREHOUSE</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="FormBolla">DDT</a>
                </div>
                <div class="col align-self-center"><a href="#" class="btn float-right navbar-btn--logout">EXIT</a></div>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div *ngIf="historicList?.length; else emptyList" class="container">
        <div class="row d-flex flex-row">
            <div class="col-6 mb-2 mt-5">
                <select [(ngModel)]="filtered" class="custom-select" name="filter">
                        <option selected disabled>Filter by:</option>
                        <option value="identifier">Identifier</option>
                        <option value="movementType">Movement Type</option>
                    </select>
            </div>
            <div class="col-6 mb-2 mt-5">
                <input class="form-control" type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search by filter...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Movement Type</th>
                            <th>Product Identifier</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let historic of historicList">
                            <td>{{historic.date}}</td>
                            <td class="movementType">{{historic.action}}</td>
                            <td (click)="setDetailsProductInModal(historic.product)" data-toggle="modal" data-target="#productDetailsModal" style="cursor:pointer" class="identifier">
                                {{historic.product.identifier}}
                                <span class="tooltiptext">Product Details</span></td>
                            <td><button (click)="setNoteInModal(historic.note)" class="btn btn-primary" id="btn-note" data-toggle="modal" data-target="#noteModal">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <ng-template #emptyList>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div id="emptyListMessage" class="col align-self-center">No movement registered in history.</div>
            </div>
        </div>
    </ng-template>
</main>

<!--MODAL FOR NOTE-->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Note</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedNote !== null" class="modal-body" id="modal-body">
                    {{selectedNote}}
                </div>
                <div *ngIf="selectedNote === null" class="modal-body" id="modal-body">
                    No note written for this movement.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal details article -->
<div class="modal fade" id="productDetailsModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">PRODUCT DETAILS:</h3>
            </div>
            <table id="myTable" class="table table-striped">
                <thead>
                    <tbody>
                        <tr *ngFor="let item of selectedProduct | keyvalue">
                            <td>{{item.key}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>