<header>
    <div class="container justify-content-center">
        <div class="row h-100 justify-content-center">
            <div class="col align-self-center text-center">
                <h1 id="title">Movement History</h1>
            </div>
        </div>
        <div class="row h-100">
            <div class="col">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Movement Type</th>
                            <th>Product Identifier</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let historic of historicList">
                            <td>{{historic.date}}</td>
                            <td>Elimination</td>
                            <td>{{historic.product.identifier}}</td>
                            <td><button (click)="setNoteInModal(historic.note)" class="btn btn-primary" id="btn-note"
                                    data-toggle="modal" data-target="#noteModal">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Note</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="modal-body">
                    {{selectedNote}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>