<div>
    <h3>ADD / UPDATE DESKTOP</h3>
    <form autocomplete="off" (ngSubmit)="sendDesktopToParent()" class="form-group" #form="ngForm">

        <div class="form-group mb-2">
            <input [(ngModel)]="desktopTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="desktopTemp.brand" name="brand" class="form-control" placeholder="Brand:" #brand="ngModel">
            <div *ngIf="brand.invalid" class="alert alert-danger mt-2" role="alert">
                <div *ngIf="brand.errors.required">
                    Brand is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="desktopTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="desktopTemp.serialNumber" name="serialNumber" class="form-control" placeholder="Serial number:" #serialNumber="ngModel">
            <div *ngIf="serialNumber.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="serialNumber.errors.required">
                    Serial Number is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="desktopTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-group mb-2">
            <input pattern="((\d+\.?\d*)|(\.\d+))" [(ngModel)]="desktopTemp.cpu" name="cpu" class="form-control" placeholder="CPU (GHz) :" #cpu="ngModel">
            <div *ngIf="cpu.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="cpu.errors.pattern">
                    Only Number are allowed.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input pattern="^[0-9]*$" [(ngModel)]="desktopTemp.gpu" name="gpu" class="form-control" placeholder="GPU (GB) :" #gpu="ngModel">
            <div *ngIf="gpu.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="gpu.errors.pattern">
                    Only integer Number are allowed.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input pattern="^[0-9]*$" [(ngModel)]="desktopTemp.hdd" name="hdd" class="form-control" placeholder="HDD (GB) :" #hdd="ngModel">
            <div *ngIf="hdd.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="hdd.errors.pattern">
                    Only integer Number are allowed.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input pattern="^[0-9]*$" [(ngModel)]="desktopTemp.ssd" name="ssd" class="form-control" placeholder="SSD (GB) :" #ssd="ngModel">
            <div *ngIf="ssd.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="ssd.errors.pattern">
                    Only integer Number are allowed.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input pattern="^[0-9]*$" [(ngModel)]="desktopTemp.ram" name="ram" class="form-control" placeholder="RAM (GB) :" #ram="ngModel">
            <div *ngIf="ram.invalid" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="ram.errors.pattern">
                    Only integer Number are allowed.
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button [disabled]="form.invalid" class="btn mr-2 btn-add" id="btnSave">Add / Update desktop</button>
            <button class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>