<header>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="navbar">
                        <div class="row">
                            <div class="col">
                                <h3>Office: {{office}} </h3>
                            </div>
                            <div class="col">
                                <h3>Number: {{numero}}
                                </h3>
                            </div>
                            <div class="col">
                                <h3>User: {{workstation.userName}} {{workstation.userNumber}}</h3>
                            </div>
                            <div class="col">
                                <button class="userButton" data-toggle="modal"
                                    data-target="#assignWorkstationMoadal">ASSIGN WORKSTATION</button>
                            </div>
                            <div class="col">
                                <button (click)="disassignWorkstation()" class="userButton">DISASSIGN
                                    WORKSTATION</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row d-flex flex-column">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="warehouse-dropdown" ngbDropdownToggle>Add
                                article from warehouse</button>
                            <div ngbDropdownMenu aria-labelledby="warehouse-dropdown" id="warehouse-dropdown-body">
                                <button id="btn-body" ngbDropdownItem (click)="showList('Laptop')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Laptop</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Desktop')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Desktop</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Monitor')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Monitor</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Keyboard')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Keyboard</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Cable')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Cable</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('GraphicTablet')"
                                    data-toggle="modal" data-target="#addArticleFromWarehouseModal">Graphic
                                    Tablet</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Cellphone')"
                                    data-toggle="modal" data-target="#addArticleFromWarehouseModal">Cellphone</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Mouse')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Mouse</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('Token')" data-toggle="modal"
                                    data-target="#addArticleFromWarehouseModal">Token</button>
                                <button id="btn-body" ngbDropdownItem (click)="showList('DockingStation')"
                                    data-toggle="modal" data-target="#addArticleFromWarehouseModal">Docking
                                    Station</button>
                            </div>
                        </div>

                        <div ngbDropdown class="ml-2 d-inline-block">
                            <button class="btn" id="outside-dropdown" ngbDropdownToggle>Add
                                article from outside</button>
                            <div id="outside-dropdown-body" ngbDropdownMenu aria-labelledby="outside-dropdown">
                                <button id="btn-body" (click)="prepareForm('Laptop')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Laptop</button>
                                <button id="btn-body" (click)="prepareForm('Desktop')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Desktop</button>
                                <button id="btn-body" (click)="prepareForm('Monitor')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Monitor</button>
                                <button id="btn-body" (click)="prepareForm('Keyboard')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Keyboard</button>
                                <button id="btn-body" (click)="prepareForm('Cable')" ngbDropdownItem data-toggle="modal"
                                    data-target="#addArticleFromOutsideModal">Cable</button>
                                <button id="btn-body" (click)="prepareForm('GraphicTablet')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Graphic
                                    Tablet</button>
                                <button id="btn-body" (click)="prepareForm('Cellphone')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Cellphone</button>
                                <button id="btn-body" (click)="prepareForm('Mouse')" ngbDropdownItem data-toggle="modal"
                                    data-target="#addArticleFromOutsideModal">Mouse</button>
                                <button id="btn-body" (click)="prepareForm('Token')" ngbDropdownItem data-toggle="modal"
                                    data-target="#addArticleFromOutsideModal">Token</button>
                                <button id="btn-body" (click)="prepareForm('DockingStation')" ngbDropdownItem
                                    data-toggle="modal" data-target="#addArticleFromOutsideModal">Docking
                                    Station</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="workstation.articles?.length; else emptyShowList" class="col mt-1">
                <div class="table-responsive">
                    <table id="tabella-workstation" class="table">
                        <thead id="thead">
                            <tr>
                                <th scope="row">Type</th>
                                <th scope="row">Identifier</th>
                                <th scope="row">Users</th>
                                <th scope="row">Brand</th>
                                <th scope="row">Model</th>
                                <th scope="row">Serial Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let article of workstation.articles">
                                <td>{{article.articleType}}</td>
                                <td>{{article.identifier}}</td>
                                <td>{{article.users}}</td>
                                <td>{{article.brand}}</td>
                                <td>{{article.model}}</td>
                                <td>{{article.serialNumber}}</td>
                                <td><button (click)="articleDetails(article)" class="btn btn-success" id="btn-details"
                                        data-toggle="modal" data-target="#articleDetailsModal">
                                        Details
                                    </button></td>
                                <td><button (click)="moveToWarehouse(article)" class="btn btn-primary" id="btn-move">
                                        Move to Warehouse
                                    </button></td>
                                <td><button (click)="setArticleTodelete(article)" class="btn btn-danger" id="btn-delete"
                                        data-toggle="modal" data-target="#deleteArticleModal">
                                        <fa-icon [icon]="faEraser"></fa-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ng-template #emptyShowList>
                <div id="emptyListMessage">No articles present in this workstation, press "Add article" to add articles
                    to this workstation</div>
            </ng-template>
        </div>
    </div>
</header>

<!--Modal inserimento user  -->
<div class="modal fade" id="assignWorkstationMoadal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Workstation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="assignWorkstation()" id="formAssign">
                    <div class="form-group" id="assignUserInput">
                        <label for="userNameInput">User name:</label>
                        <input [(ngModel)]="userName" name="userName" id="userNameInput" class="form-control">
                    </div>
                    <div class="form-group" id="assignUserInput">
                        <label for="userNumberInput">User number:</label>
                        <input [(ngModel)]="userNumber" name="userNumber" id="userNumberInput" class="form-control">
                    </div>
                    <div class="form-group float-right">
                        <button class="btn mr-2 float-left">Assign</button>
                        <button class="btn float-left" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal eliminazione -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Delete the selected Article?
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteArticle(articleToDelete)" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal tabella articoli da magazzino -->
<div class="modal fade" id="addArticleFromWarehouseModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" id="modalArticle">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">List {{articleType}}:</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="col">
                    <div *ngIf="showWarehouseList?.length; else emptyList">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of entity | keyvalue" scope="row">{{item.key}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let article of showWarehouseList">
                                    <td *ngFor="let item of article | keyvalue">{{item.value}}</td>
                                    <td><button (click)="addArticleFromWarehouse(article)">add</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #emptyList>
                        <div id="emptyShowListMessage">No article present for the {{articleType}} category in the
                            Warehouse.
                        </div>
                    </ng-template>
                </div>


            </div>
            <div class="modal-footer"><button data-dismiss="modal"> Chiudi </button></div>
        </div>
    </div>
</div>


<!--Modal details article -->
<div class="modal fade" id="articleDetailsModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content" id="modal">

            <div class="modal-header" id="modal-header">
                <h3 class="modal-title">DETAILS:</h3>
            </div>
            <table id="myTable" class="table table-striped">
                <thead>
                <tbody>
                    <tr *ngFor="let item of entity | keyvalue">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="addArticleFromOutsideModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">


        <div class="modal-content" id="formModal">
            <div class="modal-body" id="formModal-body">
                <div *ngIf="articleType == 'Cable'">
                    <app-form-cable (cableToEmit)="addArticleFromOutside($event)"></app-form-cable>
                </div>
                <div *ngIf="articleType == 'Cellphone'">
                    <app-form-cellphone (cellphoneToEmit)="addArticleFromOutside($event)">
                    </app-form-cellphone>
                </div>
                <div *ngIf="articleType == 'Desktop'">
                    <app-form-desktop (desktopToEmit)="addArticleFromOutside($event)">
                    </app-form-desktop>
                </div>
                <div *ngIf="articleType == 'DockingStation'">
                    <app-form-docking-station (dockingStationToEmit)="addArticleFromOutside($event)">
                    </app-form-docking-station>
                </div>
                <div *ngIf="articleType == 'GraphicTablet'">
                    <app-form-graphic-tablet (graphicTabletToEmit)="addArticleFromOutside($event)">
                    </app-form-graphic-tablet>
                </div>
                <div *ngIf="articleType == 'Keyboard'">
                    <app-form-keyboard (keyboardToEmit)="addArticleFromOutside($event)">
                    </app-form-keyboard>
                </div>
                <div *ngIf="articleType == 'Laptop'">
                    <app-form-laptop (laptopToEmit)="addArticleFromOutside($event)"></app-form-laptop>
                </div>
                <div *ngIf="articleType == 'Monitor'">
                    <app-form-monitor (monitorToEmit)="addArticleFromOutside($event)">
                    </app-form-monitor>
                </div>
                <div *ngIf="articleType == 'Mouse'">
                    <app-form-mouse (mouseToEmit)="addArticleFromOutside($event)"></app-form-mouse>
                </div>
                <div *ngIf="articleType == 'Token'">
                    <app-form-token (tokenToEmit)="addArticleFromOutside($event)"></app-form-token>
                </div>
            </div>
        </div>
    </div>
</div>