@font-face {
    font-family: Poppins;
    src: url("../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

body,
html {
    height: 100%;
}

header {
    height: 100%;
    background-image: url("img/workstation2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h3 {
    border: 1px solid white;
    background: white;
    border-radius: 20px;
    width: 200px;
    padding: 0 10px;
}

#tabella-workstation {
    background-color: white;
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 15px;
    overflow: hidden;
}

#warehouse-dropdown,
#outside-dropdown {
    background: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    box-shadow: none !important;
    outline: 0;
}

#warehouse-dropdown-body,
#outside-dropdown-body {
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 1px solid white;
    #btn-body:hover {
        color: #004fff;
    }
    #btn-body:focus {
        background-color: white;
        color: #004fff;
    }
}

.userButton {
    background: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    box-shadow: none !important;
    outline: 0;
}

#emptyListMessage{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    float: center;
}

#emptyShowListMessage{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    float: center;
}

/* Modal */
#formModal {
    background-color: transparent;
    color: white;
    border: none;
}

#formModal-body {
    background-color: black;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
}
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: white;
}
input:focus {
    border: none;
    border: 1px solid black;
    transition: 0.5s;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    box-shadow: none !important;
    outline: 0;
}

#modalArticle{
    width: 90%;
	max-width: 1200px;
}

#modal {
    overflow-x: auto;
}


  