<div>
    <h3>ADD / UPDATE CABLE</h3>
    <form autocomplete="off" (ngSubmit)="sendCableToParent()" class="form-group" id="formCable" #form="ngForm">

        <div class="form-group mb-2">
            <input [(ngModel)]="cableTemp.users" name="users" class="form-control" placeholder="Users:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="cableTemp.brand" name="brand" class="form-control" placeholder="Brand:" #brand="ngModel">
            <div *ngIf="brand.invalid &&(brand.dirty || brand.touched)" class="alert alert-danger mt-2" role="alert">
                <div *ngIf="brand.errors.required">
                    Brand is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="cableTemp.model" name="model" class="form-control" placeholder="Model:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="cableTemp.serialNumber" name="serialNumber" class="form-control" placeholder="Serial number:" #serialNumber="ngModel">
            <div *ngIf="serialNumber.invalid &&(serialNumber.dirty || serialNumber.touched)" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="serialNumber.errors.required">
                    Serial Number is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <input [(ngModel)]="cableTemp.userNumber" name="userNumber" class="form-control" placeholder="User number:">
        </div>
        <div class="form-group mb-2">
            <input required [(ngModel)]="cableTemp.type" name="type" class="form-control" placeholder="Type:" #type="ngModel">

            <div *ngIf="type.invalid &&(type.dirty || type.touched)" class="alert alert-danger  mt-2" role="alert">
                <div *ngIf="type.errors.required">
                    Type is required.
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <textarea [(ngModel)]="noteTemp" name="note" id="note" class="form-control" placeholder="Add note:"></textarea>
        </div>
        <div class="float-right">
            <button [disabled]="form.invalid" class="btn btn-add mr-2" id="btnSave">Add / Update cable</button>
            <button class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>