<nav>
    <div class="container-fluid ">
        <div class="row ">
            <div class="col">
                <div class="navbar">
                    <div class="row w-100 align-items-center">
                        <div class="col-auto align-self-start">
                            <a href="/WorkstationWelcome" class="btn" placement="right" ngbTooltip="Building">
                                <fa-icon [icon]="faArrowLeft"></fa-icon>
                            </a>
                        </div>
                        <div class="col mt-5 align-self-center text-center">
                            <span>{{title}}</span>
                            <p>Click on a workstation to see its details.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>