@font-face {
    font-family: Poppins;
    src: url("../../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body,
header {
    height: 100%;
}

a {
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.5s;
}

a:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}

span {
    font-size: 30px;
    letter-spacing: 5px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px;
    padding-bottom: 20px;
    box-shadow: 10px 5px 5px #004fff;
}

p {
    margin-top: 50px;
    color: #004fff;
}