@font-face {
    font-family: Poppins;
    src: url("../../../../assets/fonts/Poppins-Light.ttf");
}

* {
    font-family: "Poppins", sans-serif;
}

.navbar-img {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-home {
    background-color: white;
}

.navbar-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    box-shadow: none;
}

.navbar-btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #004fff;
    transition: width 0.5s;
}

.navbar-btn:hover::after {
    width: 100%;
}
