<header class="header">
    <nav class="navbar navbar-expand-lg navbar-home">
        <div class="container-fluid d-flex flex-row">
            <div class="row w-100">
                <div class="col-1">
                    <a class="navbar-brand" href="WelcomeMenu"> <img class="navbar-img" src="../../assets/img/Logo Erre.png"></a>
                </div>
                <div class="col align-self-center text-left">
                    <a class="btn navbar-btn mr-1 ml-2" href="WorkstationWelcome">WORKSTATION HOME</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="WarehouseHomeList">WAREHOUSE</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="HistoryWelcome">HISTORIC</a>
                    <a class="btn navbar-btn mr-1 ml-2" href="FormBolla">DDT</a>
                </div>
                <div class="col align-self-center"><a href="#" class="btn float-right navbar-btn--logout">EXIT</a></div>
            </div>
        </div>
    </nav>
</header>