<header>
	<div class="container">
		<div class="row h-100 d-flex flex-column flex-wrap">
			<div class="col mt-5">
				<div class="row h-100 align-items-end">

					<div class="col-6 mb-2 d-flex flex-row">

						<button class="btn mr-2" id="btn-add" (click)="onAddArticleButton()" data-toggle="modal"
							data-target="#saveOrUpdateModal">
							<fa-icon [icon]="faPlus"></fa-icon>
						</button>
						<select [(ngModel)]="filtered" class="custom-select" name="filter">
							<option selected disabled>Filter by:</option>
							<option value="identifier">Identifier</option>
							<option value="model">Model</option>
							<option value="brand">Brand</option>
							<option value="location">Location</option>
							<option value="type">Type</option>
						</select>
					</div>
					<div class="col-6 mb-2 d-flex flex-row">
						<input class="form-control" type="text" id="myInput" (keyup)="searchFunction()"
							placeholder="Search by filter...">
						<div class="custom-control custom-switch d-flex align-items-end ml-2">
							<input type="checkbox" class="custom-control-input" id="location" name="location"
								[(ngModel)]="isChecked" (change)="setList()">
							<label for="location" class="custom-control-label" id="label-all">All</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div *ngIf="listProduct?.length; else emptyList" class="table-responsive">
					<table id="myTable" class="table table-striped">
						<thead>
							<tr>
								<th scope="row">Identifier</th>
								<th scope="row">Users</th>
								<th scope="row">Brand</th>
								<th scope="row">Model</th>
								<th scope="row">Serial Number</th>
								<th scope="row">Location</th>
								<th scope="row">User Number</th>
								<th scope="row">Modify</th>
								<th scope="row">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let keyboard of listProduct">
								<td class="hidden"></td>
								<td>{{keyboard.identifier}}</td>
								<td>{{keyboard.users}}</td>
								<td>{{keyboard.brand}}</td>
								<td>{{keyboard.model}}</td>
								<td>{{keyboard.serialNumber}}</td>
								<td>{{keyboard.location}}</td>
								<td>{{keyboard.userNumber}}</td>
								<td><button class="btn btn-success" id="btn-modify" (click)="onUpdateButton(keyboard)"
									data-toggle="modal" data-target="#saveOrUpdateModal">
									<fa-icon [icon]="faPen"></fa-icon>
								</button></td>
							<td><button (click)="deleteProduct(keyboard)" class="btn btn-danger" id="btn-delete">
									<fa-icon [icon]="faEraser"></fa-icon>
								</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<ng-template #emptyList><div id="emptyListMessage">No Keyboard present in the warehouse, press <fa-icon [icon]="faPlus"></fa-icon> to add a new Keyboard.</div></ng-template>
			</div>
		</div>
	</div>
</header>


<!-- Modal -->
<div class="modal fade" id="saveOrUpdateModal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content" id="modal">

			<div class="modal-header" id="modal-header">
				<h3 class="modal-title">Add a new article:</h3>
			</div>

			<div class="modal-body" id="modal-body">
				<form (ngSubmit)="saveOrUpdate()" id="formKeyboard">

					<div class="form-control mb-2" id="keyboardGroup">
						<input [(ngModel)]="entity.users" name="users" class="form-control" placeholder="Users:">
					</div>
					<div class="form-control mb-2" id="keyboardGroup">
						<input [(ngModel)]="entity.brand" name="brand" class="form-control" placeholder="Brand:">
					</div>
					<div class="form-control mb-2" id="keyboardGroup">
						<input [(ngModel)]="entity.model" name="model" class="form-control" placeholder="Model:">
					</div>
					<div class="form-control mb-2" id="keyboardGroup">
						<input [(ngModel)]="entity.serialNumber" name="serialNumber" class="form-control"
							placeholder="Serial number:">
					</div>
					<div class="form-control mb-2" id="keyboardGroup">
						<input [(ngModel)]="entity.userNumber" name="userNumber" class="form-control"
							placeholder="User number:">
					</div>
					<div class="float-right">
						<button class="btn mr-2 float-left">Save/Update keyboard</button>
						<button class="btn float-left" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>


		</div>

	</div>
</div>